<div id="calculator-banner" class="calculator-banner">
    <div class="govuk-width-container">
        <div class="govuk-main-wrapper govuk-main-wrapper--auto-spacing">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-panel govuk-panel--confirmation">
                        <h1 class="govuk-panel__title">We estimate your school could save £100,000 a year</h1>
                    </div>
                    <p class="govuk-body">This is an estimate based on X and X. You can <a class="govuk-link" href="index">start again</a> if you want to change some of the the values you entered.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>
