{{ appSubNavigation({
  classes: 'govuk-!-margin-top-3 govuk-!-margin-bottom-',
  navigationLabel: 'Application menu',
  items: [{
    html: 'Profile',
    href: '/jobseekers/'+jobseeker.id,
    active: subNavId == 'candidateProfile'
  }, {
    html: 'Contact history',
    href: '/jobseekers/'+jobseeker.id+'/invites',
    active: subNavId == 'candidateInvitations'
  }, {
    html: 'Applications',
    href: '/jobseekers/'+jobseeker.id+'/applications',
    active: subNavId == 'candidateApplications'
  }]
}) }}