{% if not user %}
{% set navigationItems = [{
    href: "/create-account",
    text: "Create account"
  }, {
    href: "/sign-in",
    text: "Sign in"
  }]
%}
{% else %}
  {% set navigationItems = [
    {
      href: "#",
      text: "Settings",
      active: primaryNavId == 'org-settings'
    },
    {
      href: "#",
      text: "Notifications",
      active: primaryNavId == 'notifications'
    },
    {
      href: "#",
      text: "Guides",
      active: primaryNavId == 'notifications'
    },
    {
      href: "/account",
      text: "Account",
      active: primaryNavId == 'account'
    } if 1 == 2, {
      href: "/sign-out",
      text: "Sign out"
    }]
  %}
{% endif %}

{{ govukHeader({
  containerClasses: "govuk-width-container",
  navigationLabel: "Account menu",
  "navigationClasses": "govuk-header__navigation--end",
  "productName": serviceName,
  "navigation": navigationItems
}) }}
