{% if not user %}
{% set navigationItems = [{
    href: "/account/new",
    text: "Create account"
  }, {
    href: "/account/sign-in",
    text: "Sign in"
  }]
%}
{% else %}
  {% set navigationItems = [
    {
      href: "/organisation-settings",
      text: "Organisation settings",
      active: primaryNavId == 'organisationSettings'
    },
    {
      href: "#",
      text: "Notifications",
      active: primaryNavId == 'notifications'
    } if 1 == 2,
    {
      href: "#",
      text: "Guides",
      active: primaryNavId == 'notifications'
    } if 1 == 2,
    {
      href: "#",
      text: "Your account",
      active: primaryNavId == 'account'
    }, {
      href: "/sign-out",
      text: "Sign out"
    }]
  %}
{% endif %}

{{ govukHeader({
  containerClasses: "govuk-width-container",
  navigationLabel: "Account menu",
  "navigationClasses": "govuk-header__navigation--end",
  "productName": serviceName,
  "navigation": navigationItems
}) }}
