{{ appPrimaryNavigation({
  items: [
    {
      href: "#",
      text: "Jobs",
      active: primaryNavId == 'jobs'
    },
    {
      href: "#",
      text: "Schools",
      active: primaryNavId == 'jobseekers'
    }
  ]
}) if user}}
