{{ appPrimaryNavigation({
  items: [
    {
      href: "/jobs",
      text: "Job listings",
      active: primaryNavId == 'jobs'
    },
    {
      href: "/profiles",
      text: "Teacher profiles",
      active: primaryNavId == 'profiles'
    }
  ]
}) if user}}
