
{% extends "layout.njk" %}

{% set title = 'Jobseeker profiles (4)' %}

{% set primaryNavId = 'profiles' %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  {# <p>They will appear as jobseekers add profiles yada.</p> #}
  <p>This only shows jobseekers who can commute to your school.</p>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/profiles-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div class="app-job-listings">
        <div class="app-job-listings__job">
          <div class="app-job-listings__job-row">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="/profiles/123">Molly Capstick</a>
            </h2>
          </div>
        </div>
        <div class="app-job-listings__job">
          <div class="app-job-listings__job-row">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="/profiles/123">Sophie Miles</a>
            </h2>
          </div>
        </div>
        <div class="app-job-listings__job">
          <div class="app-job-listings__job-row">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="/profiles/123">Rachael Harvey</a>
            </h2>
          </div>
        </div>
        <div class="app-job-listings__job">
          <div class="app-job-listings__job-row">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
              <a href="/profiles/123">Leonie Shanks</a>
            </h2>
          </div>
        </div>
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })

  </script>
{% endblock %}