
{% extends "layout.njk" %}

{% set primaryNavId = 'profiles' %}

{% block content %}

  <h1 class="govuk-heading-l">
    Jobseeker profiles
  </h1>

  {# <p>They will appear as jobseekers add profiles yada.</p> #}
  <p>This only shows jobseekers that are willing to travel to your school.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">



    </div>
  </div>

{% endblock %}
