
{% extends "layout.njk" %}

{% set title = 'Jobseeker profiles (' + user.jobseekers.length + ')' %}

{% set primaryNavId = 'profiles' %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  {# <p>They will appear as jobseekers add profiles yada.</p> #}
  {# <p>This only shows jobseekers who can commute to your school.</p> #}

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/profiles-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div class="app-job-listings">
        {% for jobseeker in user.jobseekers %}

          {% set teachingStatus %}
            {% if jobseeker.profile.qts == 'Yes' %}
              Awarded QTS {{jobseeker.profile.qtsAwardedYear}}
            {% elseif jobseeker.profile.qts == 'I’m on track to receive QTS' %}
              On track to receive QTS
            {% else %}
              Does not have QTS
            {% endif %}
          {% endset %}

          <div class="app-job-listings__job">
            <div class="app-job-listings__job-row">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                <a href="/jobseekers/{{jobseeker.id}}">{{jobseeker.profile.firstName}} {{jobseeker.profile.lastName}}</a>
              </h2>
            </div>
            <p class="govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-1">{{teachingStatus}}</p>

            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border app-summary-list--compact',
              rows: [
                {
                  key: {
                    text: "Role"
                  },
                  value: {
                    text: jobseeker.profile.roles | join(', ')
                  }
                },
                {
                  key: {
                    text: "Education phase"
                  },
                  value: {
                    text: jobseeker.profile.phases | join(', ')
                  }
                },
                {
                  key: {
                    text: "Key stage"
                  },
                  value: {
                    text: jobseeker.profile.keyStages | join(', ')
                  }
                },
                {
                  key: {
                    text: "Working pattern"
                  },
                  value: {
                    text: jobseeker.profile.workingPatterns | join(', ')
                  }
                },
                {
                  key: {
                    text: "Subject"
                  },
                  value: {
                    text: jobseeker.profile.subjects | join(', ')
                  }
                } if jobseeker.profile.subjects
              ]
            }) }}
          </div>
        {% endfor %}
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })

  </script>
{% endblock %}