
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}

{% set caption = 'Send rejection emails'  %}

{% set title = 'Customise your message' %}

{% set primaryNavId = 'jobs' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-label-wrapper">
           <span class="govuk-caption-l">
            {{caption}}
          </span>
            <label class="govuk-label govuk-label--l" for="customise-message-1">
              Edit email template
            </label>
          </h1>


          <div class="govuk-form-group">
            <label class="govuk-label" for="template">
              Template name
            </label>
            <input class="govuk-input" id="template" name="template" type="text" value="Standard rejection email">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="from">
              From
            </label>
            <input class="govuk-input" id="from" name="from" type="text" value="{{user.organisation.name}}">
          </div>


          <div class="govuk-form-group">
            <label class="govuk-label" for="subject">
              Subject
            </label>
            <input class="govuk-input" id="subject" name="subject" type="text" value="Thanks for your application, unfortunately we do not want to invite you to an interview.">
          </div>

        <div class="govuk-checkboxes govuk-!-margin-bottom-5" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="save" name="save" type="checkbox" value="save" checked="checked">
              <label class="govuk-label govuk-checkboxes__label" for="save">
                Include logo in email
              </label>
            </div>
          </div>

        <div class="govuk-form-group">
    
          <label class="govuk-label" for="customise-message-1">
            Message
          </label>
          <textarea class="govuk-textarea" id="customise-message-1" name="customise-message-1" rows="15" >
Unfortunately we are not considering your application at this time, thank you for applying.
          </textarea>
        </div>


        <div class="govuk-button-group">

          <button class="govuk-button" data-module="govuk-button">
            Save template
          </button>

        </div>


        <p><a href="#">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}
