{% extends "layout_email.njk" %}



{% block content %}



    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">


                  <span class="govuk-caption-m">Part 3 of 4</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
Self-disclosure form
       
            </h1>
       

   <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row">
    
              

<h2 class="govuk-heading-m">Conduct declaration</h2>

 <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Have you ever been known to any children’s services
department or police as being a risk or potential risk to
children?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>
      </div>
<br>
  </fieldset>
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Have you ever been dismissed for misconduct from any
paid or voluntary position previously held by you?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>
      </div>
   </div>
  </fieldset>
  <br>

   </div>
  

   <br>

     </fieldset>
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Have you ever been under investigation for or subject
to any disciplinary sanctions in relation to your conduct
at the time of your employment?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>
      </div>
   </div>
  </fieldset>
  <br>

  
   <br>

        </fieldset>
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Have you ever been subject to any sanctions being
placed on your professional registration, by a
regulatory or licencing body in any country? (as
applicable)
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>

   </div>
  </fieldset>
  <br>


   <br>
   



<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>





                </div>

    </div>
    
    

  

{% endblock %}

