{% extends "layout_email.njk" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}



    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">


                  <span class="govuk-caption-m">Part 2 of 4</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
Self-disclosure form
       
            </h1>
       

   <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row">
    
              

<h2 class="govuk-heading-m">Barred list declaration</h2>
<p>
If this role has been defined as regulated activity or work it will also be subject to an
enhanced with barred list check in England, Northern Ireland and Wales or checks
under the Protecting Vulnerable Groups scheme in Scotland.
</p>
<p>
It is a criminal offence to apply for or accept a position working with children if you
have been barred from/listed as unsuitable to engage in regulated activity/work
with children.
</p>
 <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Are you included on the list of people barred from/listed
as unsuitable to engage in regulated activity/work with
children?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>
      </div>
<br>
  </fieldset>
   <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
If you are not currently barred from working with
children, have you been referred to the Disclosure and
Baring Service (DBS) or Disclosure Scotland for
consideration to be added to one of the lists?
      </h1>
    </legend>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
        Yes
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
        No
        </label>
      </div>
   </div>
  </fieldset>
  <br>

   </div>

   <br>
   <br>



<a href="/jobs/applications/declaration_form_3" class="govuk-button" data-module="govuk-button">
  Save and continue
</a>





                </div>

    </div>
    
    

  

{% endblock %}

