
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}


{% if data.invite.jobs.length %}
  {% set theJobs = data.invite.jobs | join('<br>') %}
{% else %}
  {% set theJobs = '' %}
{% endif %}


{% set caption = 'Invite to interview'  %}
{% set title = 'Check details and email applicants' %}

{% set primaryNavId = 'jobs' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/jobseekers/"+jobseeker.id
  }) }}
{% endblock %}

<script>
    // JavaScript code to find and convert URLs to links
    var htmlContent = document.querySelector('.email-message-body p').innerHTML;
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    var htmlWithLinks = htmlContent.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    });
    document.querySelector('.email-message-body p').innerHTML = htmlWithLinks;
</script>

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {% set preview%}{{data['customise-message-1']}}{% endset %}

      <h2 class="govuk-heading-m">
        Preview of emails
      </h2>

      <h3 class="govuk-heading-s">
        Email to {{jobseeker.emailAddress}} 
      </h3>

      <div class="email-message">

        <table class="email-message-meta">
          <tbody>    
                <tr>
                  <th scope="row">From</th>
                  <td>
                    Teaching Vacancies
                  </td>
                </tr>
              <tr>
                <th scope="row">To</th>
                <td>
                  {{jobseeker.emailAddress}} 
                </td>
              </tr>
            <tr class="email-message-meta">
              <th scope="row">Subject</th>
                <td>
                  {{ data ['subject']}}
                </td>
              </tr>
          </tbody>
        </table>

        <div class="email-message-body" style="white-space: pre-wrap;"><p style="Margin: 0 0 0 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
{{preview}}</p>
        </div>

      </div>

       <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What will the emails look like?
          </span>
        </summary>
        <div class="govuk-details__text">
          
          <p>The emails will be sent via GOV Notify and the Teaching Vacancies service.</p>

          <div class="email-message" tabindex="-1">
            
              <div class="govuk-header">
                <div class="govuk-header__container govuk-width-container" style="padding:0px;">
                  <div class="govuk-header__logo" style="padding-left:20px; margin-bottom:0px;">
                      <img src="/public/images/govuklogo.png" style="max-width: 100%">
                  </div>
                  
                </div>
              </div>

              <div style="padding:20px">

              <p class="govuk-heading-m">{{ data ['subject']}}</p>

              <p>{{preview}}</p>

              </div>

          </div>


        </div>
      </details>



      
        <a href="feedback" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Customise email
        </a>
    
      {% set includedHintHtml %}
        
        This will add your account email: {{user.emailAddress}} to the email being sent so you receive a carbon copy or ‘cc’.
        
      {% endset %}

      

      
      <form method="post">

        <div class="govuk-inset-text">
          Your account email: <b>{{user.emailAddress}}</b> will receive a blind carbon copy 'bcc' of the email. This will keep your email address private and secure.
        </div>
              
        <div class="govuk-button-group">

          <button class="govuk-button" data-module="govuk-button">
            
              Send separate emails to applications
           
          </button>

        </div>


        <p><a href="/jobseekers/{{jobseeker.id}}">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}
