
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}


{% if data.invite.jobs.length %}
  {% set theJobs = data.invite.jobs | join('<br>') %}
{% else %}
  {% set theJobs = '' %}
{% endif %}


{% set caption = 'Invite to interview'  %}
{% set title = 'Edit and send emails' %}

{% set primaryNavId = 'jobs' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/jobseekers/"+jobseeker.id
  }) }}
{% endblock %}

<script>
    // JavaScript code to find and convert URLs to links
    var htmlContent = document.querySelector('.email-message-body p').innerHTML;
    var urlRegex = /(https?:\/\/[^\s]+)/g;
    var htmlWithLinks = htmlContent.replace(urlRegex, function(url) {
        return '<a href="' + url + '">' + url + '</a>';
    });
    document.querySelector('.email-message-body p').innerHTML = htmlWithLinks;
</script>

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <h2 class="govuk-heading-m">
        Edit email
      </h2>


        <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="from">
              From
            </label>
            <div id="event-name-hint" class="govuk-hint">
              'via Teaching Vacancies' will be added onto the end of what you enter.
            </div>
            <input class="govuk-input" id="from" name="from" type="text" value="{{user.organisation.name}}">
          </div>

          <div>
            <p class="govuk-!-margin-bottom-0"><b>To</b></p>
            <div class="govuk-inset-text govuk-!-margin-top-3">
              {{jobseeker.emailAddress}}
            </div>
          </div>
          

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="subject">
              Subject
            </label>
            <input class="govuk-input" id="subject" name="subject" type="text" value="Thanks for your application, we would like to invite you to an interview">
          </div>

      <div class="govuk-form-group">
    
          <label class="govuk-label govuk-label--s" for="customise-message-1">
            Message
          </label>
          <textarea class="govuk-textarea" id="customise-message-1" name="customise-message-1" rows="5" >
We really liked your application and would love to have a chat with you. What is the best number to call you on?
          </textarea>
      </div>

      <div class="govuk-checkboxes govuk-!-margin-bottom-5" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="save" name="save" type="checkbox" value="save" checked="checked">
            <label class="govuk-label govuk-checkboxes__label" for="save">
              Include profile logo in email
            </label>
          </div>
        </div>

      <h2 class="govuk-heading-m">
        Preview of emails
      </h2>

      <p>The emails will be sent via GOV Notify and the Teaching Vacancies service.</p>

      <!--
      <div class="email-message">

        <table class="email-message-meta">
          <tbody>    
                <tr>
                  <th scope="row">From</th>
                  <td>
                  {{ data ['from']}}
                  </td>
                </tr>
              <tr>
                <th scope="row">To</th>
                <td>
                  {{jobseeker.emailAddress}} 
                </td>
              </tr>
            <tr class="email-message-meta">
              <th scope="row">Subject</th>
                <td>
                  {{ data ['subject']}}
                </td>
              </tr>
          </tbody>
        </table>

      <div class="email-message-body" style="white-space: pre-wrap;"><p style="Margin: 0 0 0 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
{{preview}}</p>
        </div>

      </div>
-->

      
      <div class="email-message" tabindex="-1">
            
          <div class="govuk-header">
            <div class="govuk-header__container govuk-width-container" style="padding:0px;">
              <div class="govuk-header__logo" style="padding-left:20px; margin-bottom:0px;">
                  <img src="/public/images/govuklogo.png" style="max-width: 100%">
              </div>
              
            </div>
          </div>

          <div style="padding:20px">
            
            <div id="email-logo">
              <img src="{{user.organisation.logo}}" alt="Logo" width="100">
            </div>
            <h3 id="email-subject" class="govuk-heading-m govuk-!-margin-top-2">

              {% if data['subject'] %}
                {{data['subject']}}
              {% else %}
              Thanks for your application, we would like to invite you to an interview
              {% endif %}

            </h3>
            <p id="email-body">
              {% if data['customise-message-1'] %}
                {{data['customise-message-1']}}
              {% else %}
              We really liked your application and would love to have a chat with you. What is the best number to call you on?
              {% endif %}
            </p>

          </div>

      </div>

   
      {% set includedHintHtml %}
        
        This will add your account email: {{user.emailAddress}} to the email being sent so you receive a carbon copy or ‘cc’.
        
      {% endset %}

      

      
      <form method="post">

        <div class="govuk-inset-text">
          Your account email: <b>{{user.emailAddress}}</b> will receive a blind carbon copy 'bcc' of the email. This will keep your email address private and secure.
        </div>
              
        <div class="govuk-button-group">

          <button class="govuk-button" data-module="govuk-button">
            
              Send emails to applicants
           
          </button>

        </div>


        <p><a href="/jobseekers/{{jobseeker.id}}">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}


    <script>
        function updatePreview() {
            const inputField = document.getElementById('inputField');
            const preview = document.getElementById('preview');
            preview.textContent = inputField.value;
        }
    </script>
