
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}

{% set caption = 'Invite to interview'  %}

{% set title = 'Customise your message' %}

{% set primaryNavId = 'jobs' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <h1 class="govuk-label-wrapper">
           <span class="govuk-caption-l">
            {{caption}}
          </span>
            <label class="govuk-label govuk-label--l" for="customise-message-1">
              Edit email template
            </label>
          </h1>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="template">
              Template name
            </label>
            <input class="govuk-input" id="template" name="template" type="text" value="Interview template 1">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="from">
              From
            </label>
            <input class="govuk-input" id="from" name="from" type="text" value="{{user.organisation.name}}">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--s" for="subject">
              Subject
            </label>
            <input class="govuk-input" id="subject" name="subject" type="text" value="Thanks for your application, we would like to invite you to an interview">
          </div>




        <div class="govuk-form-group">
    
          <label class="ggovuk-label govuk-label--s" for="customise-message-1">
            Message
          </label>
          <textarea class="govuk-textarea" id="customise-message-1" name="customise-message-1" rows="15" >
We really liked your application and would love to have a chat with you. What is the best number to call you on?
          </textarea>
        </div>


       
        <div class="govuk-button-group">

          <button class="govuk-button" data-module="govuk-button">
           Save template
          </button>

        </div>


        <p><a href="#">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}
