{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Self-disclosure form</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--green">
         Completed
         
        </strong>


                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
<br>

 <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-6">
                <form method="post" action="#">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                       Print this page
                    </button>
                </form>
            </div>

            <h3 class="govuk-heading-m">
              Personal details</h3>


                   
<div class="review-component__section__body">
<dl class="govuk-summary-list" id="Referee details">
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Names</dt>
<dt class="govuk-summary-list__value">Jane Smith</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Previous name(s)</dt>
<dt class="govuk-summary-list__value">N/A</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Address line (1)</dt>
<dd class="govuk-summary-list__value">Example street 1</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Address line (2)</dt>
<dd class="govuk-summary-list__value">N/A</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Town or city</dt>
<dd class="govuk-summary-list__value">Example city</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">County</dt>
<dd class="govuk-summary-list__value">N/A</dd>
</div><div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Postcode</dt>
<dd class="govuk-summary-list__value">WS4 44F</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Telephone/mobile number</dt>
<dd class="govuk-summary-list__value">078954446778</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Date of birth</dt>
<dd class="govuk-summary-list__value">10 10 1999</dd>
</div>


</dl>


    </div>
    

   <h3 class="govuk-heading-m">Criminal record declaration</h3>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
        Do you have any unspent conditional cautions or convictions in the UK or overseas?
      </h1>
    </legend>
    <p>No</p>

            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">

Do you have any spent adult cautions (simple or conditional) or convictions in the UK or overseas that are not protected (i.e. eligible to be filtered) as defined by the Rehabilitation of Offenders Act 1974 in England, Scotland and Wales or the Rehabilitation of Offenders (Northern Ireland) Order 1978?      </h1>
    </legend>
    <p>No</p>


        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Are you included on the list of people barred from/listed as unsuitable to engage in regulated activity/work with children?      </h1>
    </legend>
    <p>No</p>




        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">

If you are not currently barred from working with children, have you been referred to the Disclosure and Baring Service (DBS) or Disclosure Scotland for consideration to be added to one of the lists?    </legend>
    <p>No</p>

   <h3 class="govuk-heading-m">Conduct declaration</h3>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">


Have you ever been known to any children’s services department or police as being a risk or potential risk to children? </legend>
    <p>No</p>


        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">

Have you ever been dismissed for misconduct from any paid or voluntary position previously held by you?</legend>
    <p>No</p>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">

Have you ever been under investigation for or subject to any disciplinary sanctions in relation to your conduct at the time of your employment?</legend>
    <p>No</p>



  <h3 class="govuk-heading-m">Conduct declaration</h3>
  <p>I agree that the information provided here may be processed in connection with recruitment purposes and I understand that an offer of employment may be withdrawn or disciplinary action may be taken if information is not disclosed by me and subsequently come to the organisation’s attention.</p>

  <p>In accordance with the organisation’s procedures if required I agree to provide a valid criminal record certificate and consent to the organisation clarifying any information provided on the disclosure with the agencies providing it. </p>


  <p>I agree to inform the organisation within 24 hours if I am subsequently investigated by any agency or organisation in relation to concerns about my behaviour towards children or young people.</p>


  <p>I understand that the information contained on this form, the results of the criminal record check and information supplied by third parties may be supplied by the organisation to other persons or organisations in circumstances where this is considered necessary to safeguard children.</p>
                </div>


                     <div class="govuk-grid-column-one-third">
      
      <div class="timeline-component">

      <h3 class="govuk-heading-s">Communication history</h3>

      <ul class="timeline-component__items">
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Self-disclosure recieved</h4>
          <p class="timeline-component__value govuk-body">By applicant, 2024-02-14 16:32:22</p>
        </li>
      
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Self-disclosure requested</h4>
          <p class="timeline-component__value govuk-body">By Teaching Vacancies, 2024-02-7 16:32:22</p>
        </li>
      </ul>

      </div>

  

{% endblock %}

