{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Reference 2</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--purple">
          Recieved
         
        </strong>


                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
<br>

 <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-6">
                <form method="post" action="#">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                       Print this page
                    </button>
                </form>
                <form action="/jobs/application/tag/">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Mark as completed
                    </button>
                </form>
            </div>

            <h3 class="govuk-heading-m">
              Referee details</h3>


                   
<div class="review-component__section__body">
<dl class="govuk-summary-list" id="Referee details">
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Title</dt>
<dt class="govuk-summary-list__value">Mr</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Name</dt>
<dt class="govuk-summary-list__value">Joe Gibbs</dt>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Job title</dt>
<dd class="govuk-summary-list__value">Teacher</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Organisation</dt>
<dd class="govuk-summary-list__value">School</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Relationship to applicant</dt>
<dd class="govuk-summary-list__value">Manager</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Email address</dt>
<dd class="govuk-summary-list__value">joe.gibb@education.gov.uk</dd>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt>
</div><div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Phone number</dt>
<dd class="govuk-summary-list__value">07927223600</dd>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt></div></dl>

    </div>
    

   <h3 class="govuk-heading-m">How would you rate Jane Smith?</h3>

     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Conduct
      </h1>
    </legend>
    <p>Outstanding</p>


     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Timekeeping
      </h1>
    </legend>
    <p>Outstanding</p>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
         Work performance
      </h1>
    </legend>
    <p>Outstanding</p>



    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Reliability
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Honesty
      </h1>
    </legend>
    <p>Outstanding</p>



    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
     Relationship with colleagues
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Capability of achieving agreed targets and deadlines
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
     Initiative
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
     Administrative efficiency
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
    Ability to cope with pressure
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Ability to follow management instruction
      </h1>
    </legend>
    <p>Outstanding</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
         Have you, or your colleagues, ever had cause for disquiet about Jane Smith's behaviour or judgment?
      </h1>
    </legend>
    <p>No</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
Would you offer / re-employ Jane Smith if a suitable vacancy occurred?
      </h1>
    </legend>
    <p>Yes</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Has Jane Smith ever breached your Data Protection Policy or to your knowledge breached the policy
of any institution?
      </h1>
    </legend>
    <p>No</p>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
     Please add any further comments you may have regarding Jane Smith and the position they have applied for
      </h1>
    </legend>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ullamcorper a lacus vestibulum sed. Scelerisque eleifend donec pretium vulputate sapien. Eu lobortis elementum nibh tellus molestie. Quis varius quam quisque id diam. Aliquam sem et tortor consequat id porta nibh venenatis cras. Duis ut diam quam nulla. In metus vulputate eu scelerisque. Id aliquet lectus proin nibh nisl condimentum. Purus sit amet volutpat consequat mauris nunc congue nisi. Ullamcorper sit amet risus nullam eget felis eget nunc. Consectetur adipiscing elit ut aliquam purus. </p>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Has Jane Smith been involved in any disciplinary procedures, allegations or concerns related to safety
and welfare of children or young people?
      </h1>
    </legend>
    <p>No</p>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       Is/was Jane Smith subject to any current or pending disciplinary procedures or sanctions?
      </h1>
    </legend>
    <p>No</p>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
       If Jane Smith is a teacher, have they undergone Formal Capability Procedures within the past 2 years?
      </h1>
    </legend>
    <p>No</p>



    
    </div>
     <div class="govuk-grid-column-one-third">

            
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Communication history
                    </h2>
                        
                    </ul>
                </div>
                <div class="govuk-summary-card__content">

                    <p class="govuk-!-margin-bottom-0">
                        Reference reminder triggered via email
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Katie Saunders, 2024-06-26 12:04:49
                    </p>

                    <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">

                    <p class="govuk-!-margin-bottom-0">
                Reference requested via email
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Teaching Vacancies, 2024-06-28 16:32:22
                    </p>

                                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">

                                 <p class="govuk-!-margin-bottom-0">
                Reference recieved
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Teaching Vacancies, 2024-07-02 12:32:22
                    </p>


               



                </div>
            </div>

        </div>
    

  

{% endblock %}

