{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">
    

            <span class="govuk-caption-m">Self-disclosure form</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--blue">
          Pending
        </strong>
 

                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
       <br>

<p class="govuk-body">If you have sent and recieved your own declaration form directly, you can manually mark it as received.</p>
         
  <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-6">
                <form method="post" action="#">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                       Manually mark as complete
                    </button>
                </form>
            
            

                <p>
                <br><a class="govuk-link--no-visited-state" href="">Would you like to collect this reference through Teaching Vacancies?</a> </p> 
</div>
  
                </div>


    

  

{% endblock %}

