{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Self-disclosure form</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--green">
         Completed
         
        </strong>


                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
<br>

 <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-6">
                <form method="post" action="#">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                       Print this page
                    </button>
                </form>
            </div>

            <h3 class="govuk-heading-m">
              Personal details</h3>


                   
<div class="review-component__section__body">
<dl class="govuk-summary-list" id="Referee details">
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Names</dt>
<dt class="govuk-summary-list__value">Jane Smith</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Previous name(s)</dt>
<dt class="govuk-summary-list__value">N/A</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Address line (1)</dt>
<dd class="govuk-summary-list__value">Example street 1</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Address line (2)</dt>
<dd class="govuk-summary-list__value">N/A</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Town or city</dt>
<dd class="govuk-summary-list__value">Example city</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">County</dt>
<dd class="govuk-summary-list__value">N/A</dd>
</div><div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Postcode</dt>
<dd class="govuk-summary-list__value">WS4 44F</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Telephone/mobile number</dt>
<dd class="govuk-summary-list__value">078954446778</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Date of birth</dt>
<dd class="govuk-summary-list__value">10 10 1999</dd>
</div>


</dl>


    </div>
    

   <h3 class="govuk-heading-m">Criminal record declaration</h3>

     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Do you have any unspent conditional cautions or
convictions in the UK or overseas?
      </h1>
    </legend>
    <p>No</p>

   <h3 class="govuk-heading-m">Conduct declaration</h3>

     <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
      Have you ever been known to any children’s services
department or police as being a risk or potential risk to
children?
      </h1>
    </legend>
    <p>No</p>

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
         Have you ever been dismissed for misconduct from any
paid or voluntary position previously held by you?
      </h1>
    </legend>
    <p>No</p>



    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
     Have you ever been under investigation for or subject to
any disciplinary sanctions in relation to your conduct at
the time of your employment?
      </h1>
    </legend>
    <p>No</p>


    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h1 class="govuk-fieldset__heading">
  Have you ever been subject to any sanctions being
placed on your professional registration, by a regulatory
or licencing body in any country?
      </h1>
    </legend>
    <p>No</p>

                </div>


                     <div class="govuk-grid-column-one-third">

            
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Communication history
                    </h2>
                        
                    </ul>
                </div>
                <div class="govuk-summary-card__content">

      

                    <p class="govuk-!-margin-bottom-0">
                Declaration requested via email
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Teaching Vacancies, 2024-06-28 16:32:22
                    </p>

                                                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">

                                 <p class="govuk-!-margin-bottom-0">
                Declaration recieved
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Teaching Vacancies, 2024-07-02 12:32:22
                    </p>




               



                </div>
            </div>

        </div>
    

  

{% endblock %}

