{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
This declaration has been marked as completed.   </h3>
   </div>
</div>


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">
    

            <span class="govuk-caption-m">Self-disclosure form</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--green">
          Completed
        </strong>
 

                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
       <br>

<p class="govuk-body">Once the self-disclosure form is recieved you will be able to view it here. A reminder will be sent a week after the first request. If the self-disclosure form has not been returned or this request is more urgent, you should reach out to the applicant directly.</p>
         

  
                </div>

                     <div class="govuk-grid-column-one-third">

            
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">
                        Communication history
                    </h2>
                        
                    </ul>
                </div>
                <div class="govuk-summary-card__content">

      

                    <p class="govuk-!-margin-bottom-0">
                Declaration requested via email
                    </p>
                    <p class="govuk-body-s govuk-!-margin-top-1">
                        By Teaching Vacancies, 2024-06-28 16:32:22
                    </p>



               



                </div>
            </div>

        </div>
    

  

{% endblock %}

