{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Success
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <h3 class="govuk-notification-banner__heading">
This reference has been marked as completed.   </h3>
   </div>
</div>
    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Reference 2</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
              Jane Smith 
       
            </h1>

               <strong class="govuk-tag govuk-tag--green">
          Completed
         
        </strong>


                  <div class="govuk-grid-row">

                  <div class="govuk-grid-column-two-thirds">
<br>

 <div class="govuk-button-group govuk-!-margin-top-5 govuk-!-margin-bottom-6">
                <form method="post" action="#">
                    <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                       Print this page
                    </button>
                </form>
            </div>

            

            <h3 class="govuk-heading-m">
              Referee details</h3>


                   
<div class="review-component__section__body">
<dl class="govuk-summary-list" id="Referee details">
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Title</dt>
<dt class="govuk-summary-list__value">Mr</dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Name</dt>
<dt class="govuk-summary-list__value">Joe Gibbs</dt>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Job title</dt>
<dd class="govuk-summary-list__value">Teacher</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Organisation</dt>
<dd class="govuk-summary-list__value">School</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Relationship to applicant</dt>
<dd class="govuk-summary-list__value">Manager</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Email address</dt>
<dd class="govuk-summary-list__value">joe.gibb@education.gov.uk</dd>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt>
</div><div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Phone number</dt>
<dd class="govuk-summary-list__value">07927223600</dd>
<dt class="govuk-summary-list__value"><a class="govuk-link--no-visited-state" href="">Copy details</a></dt></div></dl>

    </div>
    
 <h1 class="govuk-heading-l">Reference information</h1>

   <h3 class="govuk-heading-m">
Can your reference be shared with Jane Smith?</h3>
   <p>Yes, I can give them a reference</p>

  <h3 class="govuk-heading-m">Can you give a reference for Jane Smith?</h3>
   <p>Yes, if they request it</p>

     <h3 class="govuk-heading-m">How long have you known the candidate and in what capacity?</h3>
   <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt</p>


  <h3 class="govuk-heading-m">Applicants employment start date</h3>
   <p>10 October 2025</p>

  <h3 class="govuk-heading-m">Is the applicant currently employed at this organisation?</h3>
   <p>Yes</p>

  <h3 class="govuk-heading-m">Would you re-employ the applicant in the same job as they currently hold or held?</h3>
   <p>Yes</p>
   <p>Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt</p>

  <h3 class="govuk-heading-m">Would you re-employ the applicant in any role within your organisation?</h3>
   <p>Yes</p>
   <p>Accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt</p>

  <h3 class="govuk-heading-m">Did the applicant leave your organisation before the conclusion of an investigation relating to conduct or safeguarding concerns?</h3>
   <p>No</p>

     <h3 class="govuk-heading-m">Is the applicant currently under investigation for any matter (incl. conduct, capability, or performance) under any of your employment policies?</h3>
   <p>No</p>

     <h3 class="govuk-heading-m">Are there any warnings on the applicant’s record (Disciplinary, Performance, or Absence related) that have not been disposed of?</h3>
   <p>No</p>

     <h3 class="govuk-heading-m">Are you aware of any allegations or concerns that have been raised (whether formal or informal) about the applicant that relate to any safeguarding issues/ or the applicant’s behaviour towards adults at risk and/children?</h3>
   <p>No</p>

     <h3 class="govuk-heading-m">If the individual is employed in a position where they are subject to a fit and proper persons check, have they been investigated for, or been found not fit to practice?</h3>
   <p>No</p>

   <h3 class="govuk-heading-m">To the best of your knowledge and with reference to the attached job description and person specification, are you satisfied that the applicant has the ability and is suitable to undertake this role?</h3>
   <p>Yes</p>



   <h1 class="govuk-heading-l">How would you rate Jane Smith?</h1>

    
   <h3 class="govuk-heading-m">Punctuality/timekeeping</h3>
   <p>Outstanding</p>

    <h3 class="govuk-heading-m">Ability to build effective working relationships</h3>
   <p>Outstanding</p>

    <h3 class="govuk-heading-m">Customer care skills</h3>
   <p>Outstanding</p>


    <h3 class="govuk-heading-m">Ability to adapt to change</h3>
   <p>Outstanding</p>


    <h3 class="govuk-heading-m">Ability to deal with conflict</h3>
   <p>Outstanding</p>


    <h3 class="govuk-heading-m">Ability to manage and prioritise own workload</h3>
   <p>Outstanding</p>

       <h3 class="govuk-heading-m">Team working skills</h3>
   <p>Outstanding</p>

       <h3 class="govuk-heading-m">Communication skills</h3>
   <p>Outstanding</p>

       <h3 class="govuk-heading-m">Problem solving/decision making skills</h3>
   <p>Outstanding</p>

       <h3 class="govuk-heading-m">General attitude</h3>
   <p>Outstanding</p>

       <h3 class="govuk-heading-m">
Technical/clinical competence (for clinical/professional posts only)</h3>
   <p>Outstanding</p>


       <h3 class="govuk-heading-m">
Leadership (if appropriate)
</h3>
   <p>N/A</p>


       <h3 class="govuk-heading-m">
I confirm the answers given in this form have been provided in good faith and are correct to the best of my knowledge and belief
</h3>

<p>Space for signature if needed should we add digtial signatures</p>

  </div>
  


          <div class="govuk-grid-column-one-third">
      
      <div class="timeline-component">

      <h3 class="govuk-heading-s">Communication history</h3>

      <ul class="timeline-component__items">
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Reference marked as complete</h4>
          <p class="timeline-component__value govuk-body">By Kate Anderson, 2024-02-14 16:32:22</p>
        </li>

        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Reference recieved</h4>
          <p class="timeline-component__value govuk-body">By Teaching Vacancies, 2024-02-14 16:32:22</p>
        </li>
        <li class="timeline-component__item">
          <h4 class="timeline-component__key govuk-heading-s">Reference requested</h4>
          <p class="timeline-component__value govuk-body">By Teaching Vacancies, 2024-02-7 16:32:22</p>
        </li>
      </ul>

      </div>
  

{% endblock %}

