{% extends "layout_email.njk" %}



{% block content %}


<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Reference Completed
          </h1>
          <div class="govuk-panel__body">
        
          </div>
        </div>
   
        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
         Thank you for completing the reference, your reference will be sent to the school to revie. 
        </p>
        <p class="govuk-body">
The school may contact you directly should they have any a questions        </p>
      </div>
    </div>
  </main>
</div>

  

{% endblock %}

