{% extends "layout_email.njk" %}



{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Thank you for your response!</h2>
 
      </div>
    </div>
 
  

{% endblock %}

