{% extends "layout_email.njk" %}



{% block content %}



    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">


                  <span class="govuk-caption-m">Part 1 of 4</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
  Reference Enquiry for Jane Smith
       
            </h1>
       

   <div class="govuk-grid-column-two-thirds">
              <div class="govuk-grid-row">
    
                   <p>
                        Some intro text? Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. 
                    </p>


                       <h2 class="govuk-heading-m">Candidate details</h2>

                    <div class="review-component__section__body">
<dl class="govuk-summary-list" id="Candidate details">
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Full name</dt>
<dt class="govuk-summary-list__value">Jane Smith</dt>

</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Current role</dt>
<dd class="govuk-summary-list__value">Primary teacher</dd>
</div>
<div class="govuk-summary-list__row govuk-summary-list__row--no-actions">
<dt class="govuk-summary-list__key">Organisation</dt>
<dd class="govuk-summary-list__value">Hamstead School</dd>
</div>
    </div>
    

   <h2 class="govuk-heading-m"> Referee Details </h2>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
    Title
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
First name
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
Last name
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
Job title
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
Orginisation name
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group">
  <label class="govuk-label govuk-label--s" for="width-20">
Contact number
  </label>
  <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
</div>

<div class="govuk-form-group govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
    <label class="govuk-label govuk-label--s">
      How long have you known the candidate and in what capacity?
    </label>


  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="withHint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>
</div>


<button type="submit" class="govuk-button" data-module="govuk-button">
  Save and continue
</button>





                </div>

    </div>
    
    

  

{% endblock %}

