// global styles for <a> and <p> tags
$govuk-global-styles: true;
$govuk-new-link-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

$app-images-path: "/public/images/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";
@import "patterns/moj-file-upload";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
// Import local component styles
@import "app/views/components/all.scss";
@import "filter-layout";

// utilities
@import "utilities/hidden";


hr {
  border-top: 1px solid govuk-colour('mid-grey');
  margin-bottom: govuk-spacing(6);
}

.govuk-header {
  border-bottom: 10px solid #1d70b8;
}

.govuk-header__logo {
  @include govuk-media-query($from: tablet) {
    width: 51%;
  }
}

.govuk-header__content {
  @include govuk-media-query($from: tablet) {
    width: 49%;
  }
}

.app-panel {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(3) govuk-spacing(3);
  margin-bottom: govuk-spacing(6);

  .govuk-summary-list {
    margin-bottom: 0;
  }
}

h1 .govuk-tag {
  vertical-align: middle;
  white-space: nowrap;
}

.app-field-highlight {
  border-left: 5px solid govuk-colour('blue');
  padding-left: govuk-spacing(4);
}

.app-field-highlight__instruction {
  font-weight: bold;
  color: govuk-colour('blue');
  margin-bottom: govuk-spacing(2);
}

.app-notification-banner-summary__list {
  font-weight: bold;
  margin-bottom: 0;

}

.app-box {
  border: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  p:last-child {
    margin-bottom: 0;
  }

  .govuk-summary-list:last-child {
    margin-bottom: 0;
  }

  // .govuk-summary-list__row:last-child,
  // .govuk-summary-list__row:last-child > * {
  //   border-bottom: 0;
  // }



}

.app-job-listings {
  margin-bottom: govuk-spacing(4);
  border-top: 1px solid govuk-colour('mid-grey');
}

.app-job-listings__job {
  padding: govuk-spacing(3) 0;
  border-bottom: 1px solid govuk-colour('mid-grey');

  h2 {
    max-width: 280px;
    float: left;
  }

  .app-job-listings__job-row {
    position: relative;
    overflow: hidden;
  }

  .govuk-tag {
    float: right;
    margin-bottom: govuk-spacing(1);
  }

  .app-job-listings__role {
    float: left;
  }

  .app-job-listings__copy {
    float: right;
  }
}





.app-summary-list--compact {
  @include govuk-font(16);
  margin-bottom: 0;

  .govuk-summary-list__key, .govuk-summary-list__value {
    padding-bottom: govuk-spacing(0);
  }

  @include govuk-media-query($from: tablet) {
    .govuk-summary-list__key {
      width: 37%;
    }
  }
}

.app-list {
  margin-bottom: govuk-spacing(6);
}

.app-list__item {
  border-bottom: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(2);
  padding-bottom: govuk-spacing(3);

  &--first {
    padding-top: 0;
  }

}

.app-profile__section {
  // background: lightblue;
  margin-bottom: govuk-spacing(5);
  padding-bottom: govuk-spacing(5);

  h3 {
    margin-top: govuk-spacing(4)
  }

  &--first {
    margin-top: govuk-spacing(8);
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.app-qualifications {
  &__item {

    h2, h3 {
      padding-top: govuk-spacing(6);
    }

    &--first {
      h2, h3 {
        padding-top: 0;
      }
    }
  }

  &__item-section {
    margin-bottom: govuk-spacing(3);
  }
}

.app-school {
  padding: govuk-spacing(3) 0;
  border-bottom: 1px solid govuk-colour('mid-grey');
}

.govuk-summary-list__key,
.govuk-summary-list__value,
.govuk-summary-list__actions {
  vertical-align: top;
}

.app-prose {
  ul:not([class]) {
    @extend %govuk-list;
    @extend %govuk-list--bullet;
    max-width: 40rem;
  }
}

.app-phase-banner {
  border-bottom: 0;
}



//////////////

// EMAIL MESSAGE

//////////////

.email-message {
  margin-bottom: 30px;
  border: 1px solid #b1b4b6;
}

.email-message-meta {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0;
  border-collapse: collapse;
}

@media print {
  .email-message-meta {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .email-message-meta {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .email-message-meta {
      font-size: 14pt;
      line-height: 1.15
  }
}

.email-message-meta td,.email-message-meta th {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  border-top: 0;
  border-bottom: 1px solid #b1b4b6;
  vertical-align: top
}

@media print {
  .email-message-meta td,.email-message-meta th {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .email-message-meta td,.email-message-meta th {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .email-message-meta td,.email-message-meta th {
      font-size: 14pt;
      line-height: 1.15
  }
}

.email-message-meta th {
  color: #505a5f;
  padding-left: 60px;
  padding: .6315789474em 1.0526315789em .4736842105em 60px;
  text-align: left;
}

.email-message-meta td {
  width: 99%;
  padding: .6315789474em 1.0526315789em .4736842105em 0;
  padding-right: 60px;
  word-break: break-word
}

.email-message-meta td:last-child {
  padding-right: 60px
}

.email-message-from {
  padding-top: 15px
}

.email-message-body {
  width: 100%;
  box-sizing: border-box;
  padding: 5px 60px 0 60px;
  margin: 0;
  clear: both;
  position: relative;
  word-wrap: break-word
}

.email-message-body table {
  margin: 0 0 20px 0
}

.email-message-body table td {
  border: 0;
  padding: 0;
  font-family: inherit!important
}

.email-message-body table li:first-child {
  margin-top: 0!important
}



#calculator-banner{
  background-color: #f3f2f1;
  border-top:1px solid #b1b4b6
}



.app-c-option-select {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #b1b4b6
}

@media(min-width: 48.0625em) {
  .app-c-option-select ::-webkit-scrollbar {
      -webkit-appearance:none;
      width: 7px
  }

  .app-c-option-select ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.87)
  }
}

.app-c-option-select .gem-c-checkboxes {
  margin: 0
}

.app-c-option-select__title {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin: 0
}

@media print {
  .app-c-option-select__title {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__title {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .app-c-option-select__title {
      font-size: 14pt;
      line-height: 1.15
  }
}

.app-c-option-select__button {
  z-index: 1;
  background: none;
  border: 0;
  text-align: left;
  padding: 0;
  cursor: pointer;
  color: #1d70b8;
  font-weight: 700
}

.app-c-option-select__button:hover {
  text-decoration: underline;
  text-underline-offset: .1em
}

.app-c-option-select__button::-moz-focus-inner {
  border: 0
}

.app-c-option-select__button:focus {
  outline: none;
  text-decoration: none;
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.app-c-option-select__button[disabled] {
  background-image: none;
  color: inherit
}

.app-c-option-select__button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2
}

.app-c-option-select__icon {
  display: none;
  position: absolute;
  top: 0;
  left: 2px;
  width: 30px;
  height: 40px;
  fill: #0b0c0c
}

.app-c-option-select__container {
  position: relative
}

.app-c-option-select__container:focus {
  outline: 0
}

ul.gem-c-checkboxes__list {
  padding-inline-start:0}

.app-c-option-select__filter {
  position: relative;
  background: #fff;
  padding: 13px 13px 10px 13px
}

.app-c-option-select__filter-input {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding-left: 33px;
  background: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 36 36%27 width=%2740%27 height=%2740%27%3E%3Cpath d=%27M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z%27 fill=%27currentColor%27%3E%3C/path%3E%3C/svg%3E") #fff no-repeat -5px -3px
}

@media print {
  .app-c-option-select__filter-input {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .app-c-option-select__filter-input {
      font-size: 14pt;
      line-height: 1.15
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-family:"GDS Transport",arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 14px;
      font-size: .875rem;
      line-height: 1.1428571429
  }
}

@media print and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-family:sans-serif
  }
}

@media(min-width: 40.0625em)and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print and (min-width: 40.0625em) {
  .app-c-option-select__filter-input {
      font-size:14pt;
      line-height: 1.2
  }
}

.app-c-option-select__heading {
  display: none
}

.js-enabled .app-c-option-select__heading {
  position: relative;
  padding: 10px 8px 0px 35px;
  display: block
}

.js-enabled [aria-expanded=true]~.app-c-option-select__icon--up {
  display: block
}

.js-enabled [aria-expanded=false]~.app-c-option-select__icon--down {
  display: block
}

.js-enabled [data-closed-on-load=true] .app-c-option-select__container {
  display: none
}

.app-c-option-select__selected-counter {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 12px;
  font-size: .75rem;
  line-height: 1.25;
  color: #0b0c0c;
  margin-top: 3px
}

@media print {
  .app-c-option-select__selected-counter {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .app-c-option-select__selected-counter {
      font-size:14px;
      font-size: .875rem;
      line-height: 1.4285714286
  }
}

@media print {
  .app-c-option-select__selected-counter {
      font-size: 12pt;
      line-height: 1.2
  }
}

.app-c-option-select.js-closed .app-c-option-select__filter,.app-c-option-select.js-closed .app-c-option-select__container {
  display: none
}

.app-c-option-select.js-opened .app-c-option-select__filter,.app-c-option-select.js-opened .app-c-option-select__container {
  display: block
}


.govuk-visually-hidden,.js-enabled .app-c-option-select__legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important
}

.govuk-visually-hidden-focusable {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important
}

.govuk-visually-hidden-focusable:active,.govuk-visually-hidden-focusable:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important
}