{% extends "layout.njk" %}

{% set heading = 'About the role' %}
{% set caption = 'Create job listing - section 4 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <form action="/jobs/new/upload">

        {{ govukRadios({
          idPrefix: "create-job[suitability]",
          name: "create-job[suitability]",
          fieldset: {
            legend: {
              text: "Suitability for early career teachers (ECT)",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Early career teachers were previously called newly qualified teachers (NQT)"
          },
          items: [
            {
              value: "We’ll only accept an ECT",
              text: "We’ll only accept an ECT"
            },
            {
              value: "We’ll consider an ECT",
              text: "We’ll consider an ECT"
            },
            {
              value: "We’ll not consider an ECT",
              text: "We’ll not consider an ECT"
            }
          ]
        }) }}

        {# {{ govukRadios({
          idPrefix: "create-job[suitable-1]",
          name: "create-job[suitable-1]",
          fieldset: {
            legend: {
              html: 'Would you accept an early career teacher (ECT)?',
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: 'Yes, we would accept an early career teacher',
              text: 'Yes, we would accept an early career teacher'
            },
            {
              value: 'No, we would not accept an early career teacher',
              text: 'No, we would not accept an early career teacher'
            }
          ]
        }) }} #}

        {# {{ govukCheckboxes({
          idPrefix: "create-job[suitable-1]",
          name: "create-job[suitable-1]",
          fieldset: {
            legend: {
              html: 'What experience would you accept for the role?',
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: 'Highly experienced',
              text: 'Highly experienced'
            },
            {
              value: 'Some experience',
              text: 'Some experience'
            },
            {
              value: 'No teaching experience yet',
              text: 'No teaching experience yet',
              hint: {
                text: 'Early career teachers (ECT) may apply'
              }
            }
          ]
        }) }} #}

        {{ govukCharacterCount({
          id: "create-job[skills]",
          name: "create-job[skills]",
          label: {
            html: 'What skills and experience are you looking for?',
            classes: 'govuk-label--m'
          },
          maxwords: 150
        }) }}

        {{ govukCharacterCount({
          id: "create-job[benefits]",
          name: "create-job[benefits]",
          label: {
            html: 'What does your school offer?',
            classes: 'govuk-label--m'
          },
          maxwords: 150
        }) }}

        {% set safeguardingNoticeDetails %}
          {{ govukCharacterCount({
            id: "create-job[safeguarding-notice-details]",
            name: "create-job[safeguarding-notice-details]",
            label: {
              text: "Information about your commitment to safeguarding",
              classes: "govuk-label--s"
            },
            maxwords: 100
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "create-job[safeguarding-notice]",
          name: "create-job[safeguarding-notice]",
          fieldset: {
            legend: {
              text: "Do you want to give information about your commitment to safeguarding?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: safeguardingNoticeDetails
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {% set otherInformationDetails %}
          {{ govukCharacterCount({
            id: "create-job[other-information-details]",
            name: "create-job[other-information-details]",
            label: {
              text: "Further details about the role",
              classes: "govuk-label--s"
            },
            maxwords: 100
          }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "create-job[other-information]",
          name: "create-job[other-information]",
          fieldset: {
            legend: {
              text: "Do you want to add further details about the role?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: otherInformationDetails
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
