{% extends "layout.njk" %}

{% set heading = 'Choose your application form' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>
<p class="govuk-body">Use Teaching Vacancies' online application form, compliant with <a>keeping children safe in education (KCSIE) guidance.</a> </p>
<p class="govuk-body">Online application forms make it quicker and easier for candidares to apply and may lead to more applicants for your role.</a> </p>

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  Teaching Vacancies' online application form
                  <strong class="govuk-tag govuk-tag--green">
                    KCSIE compliant
                  </strong>
                </label>
           
              </div>
              
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
            Use other application form method
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                 You'll need to provide additional details about how to apply.
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
