{% extends "layout.njk" %}

{% set scheduling = data.createJob and data.createJob.publishDate != 'Today (6 June 2022)' %}
{% if scheduling %}
  {% set buttonText = 'Schedule job listing' %}
  {% set heading = 'Check details and schedule job listing' %}
{% else %}
  {% set buttonText = 'Publish job listing' %}
  {% set heading = 'Check details and publish job listing' %}
{% endif %}

{% set caption = 'Create job listing' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <h2 class="govuk-heading-m">
        Job details
      </h2>

      {% set workingPatterns %}
        <p>{{ data['createJob']['role'] | join(', ')}}{% if data['createJob']['partTimeDetails'] %}: {{ data['createJob']['partTimeDetails'] }} {% endif %}
      {% endset %}

      {% set salaryDetails %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% if data['createJob']['full-time-salary'] %} 
          <li>
            <p>Full-time equivalent salary:<br>
            {{data['createJob']['full-time-salary']}}</p>
          </li>
          {% endif %}
          {% if data['createJob']['actual-salary'] %} 
          <li>
            <p>Actual salary:<br>
            {{data['createJob']['actual-salary']}}</p>
          </li>
          {% endif %}
          {% if data['createJob']['pay-scale'] %} 
          <li class="govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-bottom-0">Pay scale:<br>
            {{data['createJob']['pay-scale']}}</p>
          </li>
          {% endif %}
        </ul>
      {% endset %}

      {% set closingDate %}
        <p> {{ data['createJob']['closing-date']['day'] }} {{ data['createJob']['closing-date']['month'] }} {{ data['createJob']['closing-date']['year'] }} at  {{ data['createJob']['closing-time'] }}
      {% endset %}

      {% set startDate %}
        <p> {{ data['createJob']['closing-date']['day'] }} {{ data['createJob']['closing-date']['month'] }} {{ data['createJob']['closing-date']['year'] }} at  {{ data['createJob']['closing-time'] }}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Locations where the job is based"
            },
            value: {
              text: "Farnham Heath End, Hale Reeds, Farnham, Surrey, GU9 9BN"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/locations",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data.createJob.locations,
          {
            key: {
              text: "Role"
            },
            value: {
              text: data['createJob']['role'] | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/role",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: data['createJob']['title']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/title",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              text: data['createJob']['key-stages'] | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['key-stages'],
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: data['createJob']['subjects'] | join(', ') or 'None'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/subjects",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['subjects'],
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: data['createJob']['contract']
            },
            actions: {
              items: [
                {
                  href: "jobs/new/contract",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: workingPatterns
            },
            actions: {
              items: [
                {
                  href: "jobs/new/working-patterns",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Salary details"
            },
            value: {
              html: salaryDetails
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to include additional allowances?"
            },
            value: {
              text: data['additional-allowances']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "whether you want to include additional allowances"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional allowances"
            },
            value: {
              text: data['createJob']['allowances']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "additional allowances"
                }
              ]
            }
          } if data['createJob']['allowances']
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Publish and closing dates
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish date"
            },
            value: {
              text:  data['createJob']['publishDate']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date and time"
            },
            value: {
              text: '31 April 2024 at 9am'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job start date"
            },
            value: {
              text:  '1 June 2024'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application process
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to use the application form?"
            },
            value: {
              text: data['createJob']['method'] 
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/method",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "How do you want to receive applications?"
            },
            value: {
              text: data['createJob']['process']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/process",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['method'] == 'No',
          {
            key: {
              text: "Application form"
            },
            value: {
              html: '<a href="">form.pdf (2MB)</a>'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['process'] == 'By email',
          {
            key: {
              text: "Through a website"
            },
            value: {
              text: data['createJob']['website']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['process'] == 'Through a website',
          {
            key: {
              text: "Email address to receive applications"
            },
            value: {
              html: 'molly@example.com'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to offer school visits?"
            },
            value: {
              text: data['createJob']['school-visits']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/school-visits",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "test@example.com"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give a contact phone number?"
            },
            value: {
              text: data['createJob']['provide-phone-number']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "0207 3456 3746"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['phone-number'],
          {
            key: {
              text: "Do you want to ask applicants for their religion?"
            },
            value: {
              html: data ['religionQuestions']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/religion",
                  text: "Change",
                  visuallyHiddenText: "religious preferences"
                }
              ]
            }
          } if data ['religionQuestions'],
          {
            key: {
              text: "Can you offer skilled worker visa sponsorship to non-UK citizens for this role?"
            },
            value: {
              text: data ['createJob-sponsorship']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/sponsorship",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        About the role
      </h2>

      {{ govukSummaryList({
        rows: [
         {
            key: {
              text: "Is this role suitable for an early career teacher (ECT)?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What skills and experience are you looking for?"
            },
            value: {
              text: "You need to have at least 5 years experience teaching in a public school. You’ll be responsible for a class of 30 students."
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What does your school offer?"
            },
            value: {
              text: "You’ll get regularl training etc."
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give information about your commitment to safeguarding?"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Information about your commitment to safeguarding"
            },
            value: {
              text: "St Laurence School is committed to safeguarding and promoting the welfare of children and young people and expects all staff and volunteers to share this commitment. All applicants will be subject to
a full Disclosure and Barring Service check (previously CRB check) before appointment is confirmed."
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to add further details about the role?"
            },
            value: {
              text: data['createJob']['other-information']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Further details about the role"
            },
            value: {
              text: "Ut eget dolor at libero commodo tincidunt vel egestas diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam aliquet risus eget ante viverra tincidunt. Etiam pulvinar metus dolor, in eleifend massa pharetra eget."
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['other-information'] == 'Yes',
          {
            key: {
              text: "Do you want to upload any additional documents?"
            },
            value: {
              text: data['createJob']['upload']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/upload",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional documents"
            },
            value: {
              html: '<a href="#">person-spec.pdf (2MB)</a>'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/file-check",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['upload'] == 'Yes'
        ]
      }) }}

      <p><a href="#">Preview job listing (opens in new tab)</a>.</p>

      <p>By publishing this job listing you agree to the <a href="#">terms and conditions</a>.</p>

      <form action="/jobs/new/confirmation">

        {{ govukButton({
          text: buttonText
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>


    </div>
  </div>

{% endblock %}
