
{% extends "layout.njk" %}

{% if 'Today' in data['createJob']['publishDate'] %}
  {% set heading = 'Job listing published' %}
{% else %}
  {% set heading = 'Job listing scheduled' %}
{% endif %}

{% set caption = 'Create job listing' %}
{% set title = heading + ' - ' + caption %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: heading
    }) }}

    {% if 'Today' in data['createJob']['publishDate'] %}

    {% else %}
      <p>Your job listing will be published on {{data['createJob']['publishDate']}} at 9am.</p>
    {% endif %}

    <h2 class="govuk-heading-m">
      Invite candidates to apply for this job
    </h2>

    <p>3 candidate profiles match this job listing.</p>

    <p><a href="/jobseekers?filters-role=Teacher">View candidate profiles</a></p>

    {% if user.organisation.schools %}
      <h2 class="govuk-heading-m">
        Complete your organisation profile
      </h2>
      <p>The information that you add will be included in your job listings.</p>
      <p><a href="/organisation">Complete organisation profile</a></p>
    {% else %}
      <h2 class="govuk-heading-m">
        Complete your school profile
      </h2>
      <p>Any information you add to your profile will be included in your job listings.</p>
      <p><a href="/organisation">Complete school profile</a></p>
    {% endif%}

    <h2 class="govuk-heading-m">
      View or make changes to the job listing
    </h2>

    <p>You can <a href="#">view the job listing</a> or <a href="#">make changes to the job listing</a>.</p>

    <h2 class="govuk-heading-m">
      Give feedback
    </h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Give feedback about this service</a> (takes 30 seconds).
    </p>

    </div>
  </div>

{% endblock %}
