
{% extends "layout.njk" %}

{% set publishingToday = (data.createJob.publishDate == 'Today (6 June 2022)') %}

{% if not publishingToday %}
  {% set heading = 'Job listing scheduled' %}
{% else %}
  {% set heading = 'Job listing published' %}
{% endif %}

{% set caption = 'Create job listing' %}
{% set title = heading + ' - ' + caption %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    {{ govukPanel({
      titleText: heading
    }) }}

    {% if not publishingToday %}
      <p>Your job listing will be published on 7 June 2022 at 9am.</p>
    {% endif %}

    <h2 class="govuk-heading-m">
      Next steps
    </h2>

    <p>There are <a href="/jobseekers">3 jobseeker profiles that match this listing</a>.</p>

    <p>You can also:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="#">view the job listing</a>
      </li>
      <li>
        <a href="#">make changes to the job listing</a>
      </li>
      <li>
        <a href="/jobs">manage jobs</a>
      </li>
    </ul>

    <h2 class="govuk-heading-m">
      Give feedback
    </h2>

    <p class="govuk-body">
      <a href="#" class="govuk-link">Give feedback about this service</a> (takes 30 seconds).
    </p>

    </div>
  </div>

{% endblock %}
