{% extends "layout.njk" %}

{% set heading = 'Contract type' %}
{% set caption = 'Create job listing - section 1 of 5' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/patterns">

        {{ govukRadios({
          idPrefix: "create-job[contract]",
          name: "create-job[contract]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Permanent",
              text: "Permanent"
            },
            {
              value: "Fixed term",
              text: "Fixed term"
            },
            {
              value: "Maternity or parental leave cover",
              text: "Maternity or parental leave cover"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
