{% extends "layout.njk" %}

{% set heading = 'Contact details' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      {% if data['createJob']['school-visits'] == 'Yes' %}
        <p>Give contact details to arrange a school visit and ask question about the job.</p>
      {% else %}
        <p>Give contact details to ask question about the job.</p>
      {% endif %}
      {% set emailAddress %}
        {{ govukInput({
          id: "createJob[contact-details--another]",
          name: "createJob[contact-details--another]",
          label: {
            text: "Email address",
            classes: 'govuk-label--s'
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}
      {% endset %}

    
        <form action="/jobs/new/about">

        {{ govukRadios({
          idPrefix: "createJob[school-visits-email-address]",
          name: "createJob[school-visits-email-address]",
          fieldset: {
            legend: {
              text: 'Email address',
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: user.organisation.emailAddress,
              text: user.organisation.emailAddress,
              checked: checked("['createJob']['contact-email-address']", user.organisation.emailAddress)
            } if user.organisation.emailAddress != 'Not entered',
            {
              value: user.emailAddress,
              text: user.emailAddress,
              checked: checked("['createJob']['contact-email-address']", user.emailAddress)
            },
            {
              value: "Another email address",
              text: "Another email address",
              checked: checked("['createJob']['contact-email-address']", "Another email address"),
              conditional: {
                html: emailAddress
              }
            }
          ]
        }) }}

        {% set phone %}
          {{ govukInput({
            id: "createJob[phone-number]",
            name: "createJob[phone-number]",
            label: {
              text: "Phone number",
              classes: 'govuk-label--s'
            },
            type: "tel",
            autocomplete: "tel",
            classes: "govuk-input--width-20",
            value: data['createJob']['phone-number']
          }) }}

        {% endset %}

        {{ govukRadios({
          idPrefix: "createJob[provide-phone-number]",
          name: "createJob[provide-phone-number]",
          fieldset: {
            legend: {
              text: 'Do you want to give a contact phone number?',
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("['createJob']['provide-phone-number']", "Yes"),
              conditional: {
                html: phone
              }
            },
            {
              value: "No",
              text: "No",
              checked: checked("['createJob']['provide-phone-number']", "No")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
