{% extends "layout.njk" %}

{% set heading = 'Upload additional documents' %}
{% set caption = 'Create job listing - section 3 of 3' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}


      <form action="/jobs/new/file-check">

        {{ govukFileUpload({
          id: "createJob[file]",
          name: "createJob[file]",
          label: {
            html: h1,
            isPageheading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            text: "You can only upload PDF or DOCX files under 10MB"
          }
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
