{% extends "layout.njk" %}

{% set heading = 'Receiving applications' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      {% set emailAddress %}
        {{ govukInput({
          id: "createJob[application-email-address--another]",
          name: "createJob[application-email-address--another]",
          label: {
            text: "Email address",
            classes: 'govuk-label--s'
          },
          type: "email",
          autocomplete: "email",
          spellcheck: false,
          value: data['createJob']['application-email-address--another']
        }) }}
      {% endset %}

      <form action="/jobs/new/school-visits">

        {{ govukFileUpload({
          id: "createJob[application-form]",
          name: "createJob[application-form]",
          label: {
            text: "Upload application form",
            classes: 'govuk-label--m'
          },
          hint: {
            text: "You can only upload a PDF or DOCX file under 10MB"
          }
        }) }}

        {{ govukRadios({
          idPrefix: "createJob[application-email-address]",
          name: "createJob[application-email-address]",
          fieldset: {
            legend: {
              html: 'Email address to receive applications',
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: user.organisation.emailAddress,
              text: user.organisation.emailAddress,
              checked: checked("['createJob']['application-email-address']", user.organisation.emailAddress)
            } if user.organisation.emailAddress != 'Not entered',
            {
              value: user.username,
              text: user.username,
              checked: checked("['createJob']['application-email-address']", user.username)
            },
            {
              value: "Another email address",
              text: "Another email address",
              checked: checked("['createJob']['application-email-address']", "Another email address"),
              conditional: {
                html: emailAddress
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
