{% extends "layout.njk" %}

{% set heading = 'Do you want candidates to download an application form or a visit link to your school or council website?' %}
{% set caption = 'Create job listing - section 4 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      {% set firstOption %}
        {{ govukFileUpload({
          id: "create-job[upload-application-form]",
          name: "create-job[upload-application-form]",
          label: {
            text: "Upload application form",
            classes: 'govuk-label--s'
          },
          hint: {
            text: "You can only upload a PDF or DOCX file under 8MB"
          }
        }) }}
      {% endset %}

      {% set secondOption %}
        {{ govukInput({
          id: "create-job[website-url]",
          name: "create-job[website-url]",
          label: {
            text: "Link to website",
            classes: 'govuk-label--s'
          },
          hint: {
            text: "For example, https://www.example.com"
          }
        }) }}

      {% endset %}

      <form action="/jobs/new/how" method="post">

        {{ govukRadios({
          idPrefix: "create-job[how]",
          name: "create-job[how]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "A form for candidates to download",
              text: "A form for candidates to download",
              conditional: {
                html: firstOption
              }
            },
            {
              value: "A link to your school or council website",
              text: "A link to your school or council website",
              conditional: {
                html: secondOption
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
