{% extends "layout.njk" %}

{% set heading = 'Key stages' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/subjects">

        {{ govukCheckboxes({
          idPrefix: "create-job[key-stage]",
          name: "create-job[key-stage]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Key stage 1",
              text: "Key stage 1"
            },
            {
              value: "Key stage 2",
              text: "Key stage 2"
            },
            {
              value: "Key stage 3",
              text: "Key stage 3"
            },
            {
              value: "Key stage 4",
              text: "Key stage 4"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
