{% extends "layout.njk" %}

{% set heading = 'Link to website' %}
{% set caption = 'Create job listing - section 4 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/school-visits">

        {{ govukInput({
          id: "createJob[website]",
          name: "createJob[website]",
          label: {
            html: h1,
            isPageHeading: true,
            classes: 'govuk-label--l'
          },
          hint: {
            text: "For example, https://www.example.com"
          },
          value: data['createJob']['website']
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
