{% extends "layout.njk" %}

{% set heading = 'Job listings' %}
{% set caption = 'Create job listing' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/copied">
        {{ govukRadios({
          idPrefix: "createJob[school]",
          name: "createJob[school]",
          fieldset: {
            legend: {
              html: h1,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: 'Maths teacher',
              text: 'Maths teacher'
            },
            {
              value: 'Teacher of KS1',
              text: 'Teacher of KS1'
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
