
{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/active-jobs"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Create job listing - section 1 of 5
        </span>
          Location
      {% endset %}

      <form action="/jobs/new/title">
        {{ govukRadios({
          idPrefix: "create-job[location]",
          name: "create-job[location]",
          fieldset: {
            legend: {
              html: h1,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: 'Farnham Heath End',
              text: 'Farnham Heath End',
              hint: {
                text: 'Hale Reeds, Farnham, Surrey, GU9 9BN'
              }
            },
            {
              value: 'Rodborough',
              text: 'Rodborough',
              hint: {
                text: 'Rake Lane, Bushey, WD7 1CT'
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}

      </form>

      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
