{% extends "layout.njk" %}

{% set heading = 'Using the application form' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <!--
      <div class="govuk-inset-text app-inset-text" style="border-color:#00703c; background:#ebf3ef">
        <p>Take advantage of our KCSIE compliant digital form. Review, shortlist or reject applications all in one place.</p>

        <div class="testimonial">
          <div class="testimonial__image">
            <img src="/public/images/teacher.png"/>
          </div>
          <div class="testimonial__text">
            <p class="quote">
              "The teaching vacancies form is my first choice when it comes to processing applications and getting the best choice of experienced teachers."
            </p>
            <p class="person">
              <b>Jane Doe, Headteacher at Courtland trust</b>
            </p>
          </div>
        </div>

      </div>

      -->

      

      <form action="/jobs/new/method" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Select application form type
              </h1>
            </legend>
            <div id="hint" class="govuk-hint">
              Use the Teaching Vacancies application form for an online, KCSIE compliant form sent to your chosen email.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn">
                  Faith schools application form
                  <strong class="govuk-tag govuk-tag--green">
                    KCSIE compliant
                  </strong>
                </label>
                <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                  Applicants will be asked their religion, place of worship and to provide a religious referee or baptism information.
                </div>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  All schools application form
                  <strong class="govuk-tag govuk-tag--green">
                    KCSIE compliant
                  </strong>
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Applicants will not be asked to provide any religious information.
                </div>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
                <label class="govuk-label govuk-radios__label" for="signIn-2">
                  Use other application form method
                </label>
                <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint">
                 You'll need to provide additional details about how to apply
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
