
{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">
        Create job listing - section 4 of 5
      </span>
      <h1 class="govuk-heading-l">
        Managing applications
      </h1>

      {% set whyHtml %}

        <p>Manage applications through this service means that you can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            set up an application process for your job listing with one click, saving time and money
          </li>
          <li>
            view applicant information in a structured way, making it easier to shortlist candidates
          </li>
          <li>
            manage all jobs in a single place, whether you’re hiring for a single school or a multi-academy trust
          </li>
          <li>
            easily notify successful and unsuccessful candidates
          </li>
          <li>
            be sure that you’re complying with the latest recruitment legislation
          </li>
        </ul>

            {# - always up to date with the keeping children safe in education guidelines
      - the same as the ‘quick apply’ feature on TES
      - fastest/easiest process for candidates
      - manage applications more easily/streamlined #}
      {% endset %}
      {{ govukDetails({
        summaryText: "The benefits of managing applications through this service",
        html: whyHtml
      }) }}

      {{ govukDetails({
        summaryText: "Take a look at an example form via TV",
        text: "Text"
      }) }}

      <form action="/jobs/new/method" method="post">

        {{ govukRadios({
          idPrefix: "create-job[method]",
          name: "create-job[method]",
          fieldset: {
            legend: {
              html: "Do you want to manage applications through this service?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              hint: {
                text: "This is the fastest and easiest route for candidates"
              }
            },
            {
              value: "No",
              text: "No",
              hint: {
                text: 'You’ll need to provide details about how the candidate can apply'
              }
            }
          ]
        }) }}

        {# {{ govukRadios({
          idPrefix: "blah",
          name: "blah",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Online through this service",
              text: "Online through this service",
              hint: {
                text: "This is the easiest and fastest route for candidates"
              }
            },
            {
              value: "Another way",
              text: "Another way",
              hint: {
                text: 'You’ll be able to give candidates instructions about how they can apply'
              }
            }
          ]
        }) }} #}




        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
