{% extends "layout.njk" %}

{% set heading = 'Working patterns' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      {% set partTimeDetails %}
        {{ govukCharacterCount({
          name: "create-job[part-time-details]",
          id: "create-job[part-time-details]",
          maxwords: 50,
          label: {
            text: "Details",
            classes: 'govuk-label--s'
          }
        }) }}
      {% endset %}

      <form action="/jobs/new/salary">

        {{ govukCheckboxes({
          idPrefix: "create-job[working-patterns]",
          name: "create-job[working-patterns]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Full time",
              text: "Full time"
            },
            {
              value: "Part time",
              text: "Part time",
              conditional: {
                html: partTimeDetails
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
