
{% extends "layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/jobs/new/title"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Create job listing - section 2 of 5
        </span>
        Pay
      {% endset %}

      <form action="/jobs/new/listing-dates">

        <div class="govuk-form-group govuk-form-group--erro">

          {% call govukFieldset({
            legend: {
              html: h1,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          }) %}

          <p>You must enter the full time equivalent salary, actual salary or pay scale. You can enter more than one.</p>

          {# <p class="govuk-error-message"> Full time equivalent salary, actual salary or pay scale </p> #}

        {{ govukInput({
            id: "create-job[full-time-salary]",
            name: "create-job[full-time-salary]",
            label: {
              text: "Full time equivalent salary",
              classes: 'govuk-label--s'
            },
            hint: {
              text: 'This is what the annual salary would be for someone working full time'
            },
            classes: "govuk-input--width-10"
          }) }}

          {{ govukInput({
            id: "create-job[actual-salary]",
            name: "create-job[actual-salary]",
            label: {
              text: "Actual salary",
              classes: 'govuk-label--s'
            },
            classes: "govuk-input--width-10"
          }) }}

          {{ govukInput({
            id: "create-job[pay-scale]",
            name: "create-job[pay-scale]",
            label: {
              text: "Pay scale",
              classes: 'govuk-label--s'
            }
          }) }}

        {% endcall %}
        </div>


        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
