{% extends "layout.njk" %}

{% set heading = 'Education phase' %}
{% set caption = 'Create job listing - section 1 of 3' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <form action="/jobs/new/role" method="post">
        {{ govukRadios({
          idPrefix: "createJob[ageGroups]",
          name: "createJob[ageGroups]",
          fieldset: {
            legend: {
              html: 'Education phase for [location 1]',
              isPageHeading: true,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: options
        }) }}

        {{ govukRadios({
          idPrefix: "createJob[ageGroups]",
          name: "createJob[ageGroups]",
          fieldset: {
            legend: {
              html: 'Education phase for [location 2]',
              isPageHeading: true,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: options
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}

      </form>

      <p><a href="#">Cancel</a></p>

    </div>
  </div>

{% endblock %}
