{% extends "layout.njk" %}

{% set heading = 'How do you want to receive applications?' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/process" method="post">

        {{ govukRadios({
          idPrefix: "createJob[process]",
          name: "createJob[process]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "By email",
              text: "By email",
              checked: checked("['createJob']['process']", "By email"),
              hint: {
                text: 'You’ll need to upload an application form'
              }
            },
            {
              value: "Through a website",
              text: "Through a website",
              checked: checked("['createJob']['process']", "Through a website"),
              hint: {
                text: 'You’ll need to provide a link to the website'
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
