{% extends "layout.njk" %}

{% set heading = 'Job role' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}


      <form method="post" novalidate>
        
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="roletype-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h2 class="govuk-fieldset__heading">
                      What type of job are you advertising?
                  </h2>
              </legend>
              
              <div class="govuk-radios" data-module="govuk-radios">
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="roletype" name="roletype" type="radio" value="teaching">
                      <label class="govuk-label govuk-radios__label" for="roletype">
                         Teaching, teaching support and headteacher jobs
                      </label>
                      <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                          This includes teacher, teaching assistant, learning support or cover supervisor, SEND and headteacher jobs.
                      </div>
                  </div>
                  
                  <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="roletype-2" name="roletype" type="radio" value="non-teaching">
                      <label class="govuk-label govuk-radios__label" for="roletype-2">
                          Non-teaching support jobs
                      </label>
                      <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                          This includes all other schools jobs, for example, administration, HR, data and finance jobs.
                      </div>
                  </div>
              </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}

      </form>

      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
