{% extends "layout.njk" %}

{% set version = 2 %}

{% set heading = 'Salary details' %}
{% set caption = 'Create job listing - section 2 of 5' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  {% set salary %}
    {{ govukInput({
      id: "create-job[salary]",
      name: "create-job[salary]",
      label: {
        text: "Salary",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  {% set payscale %}
    {{ govukInput({
      id: "create-job[pay-scale]",
      name: "create-job[pay-scale]",
      label: {
        text: "Pay scale",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  {% set actualSalary %}
    {{ govukInput({
      id: "create-job[take-home]",
      name: "create-job[take-home]",
      label: {
        text: "Actual salary",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  {% set fulltime %}
    {{ govukInput({
      id: "create-job[full-home]",
      name: "create-job[full-home]",
      label: {
        text: "Full time salary",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if version == 1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        <h1 class="govuk-heading-l">
          {{heading}}
        </h1>
      {% else %}
        {% set h1 %}
          <span class="govuk-caption-l">
            {{caption}}
          </span>
          {{heading}}
        {% endset %}
      {% endif %}

      <form action="/jobs/new/listing-dates">

        {% if version == 1 %}

          {{ govukRadios({
            idPrefix: "create-job[paid-term-time]",
            name: "create-job[paid-term-time]",
            fieldset: {
              legend: {
                text: "Is this role paid for term time only?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Yes",
                text: "Yes",
                conditional: {
                  html: takehome
                }
              },
              {
                value: "No",
                text: "No",
                conditional: {
                  html: fulltime
                }
              }
            ]
          }) }}


        {% else %}
           {{ govukCheckboxes({
            idPrefix: "create-job[salary-details]",
            name: "create-job[salary-details]",
            fieldset: {
              legend: {
                html: h1,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: 'Select all options that you want to include in the advert'
            },
            items: [
              {
                value: "Full time equivalent salary",
                text: "Full time equivalent salary",
                hint: {
                  text: 'This is what the annual salary would be for someone working full time'
                },
                conditional: {
                  html: salary
                }
              },
              {
                value: "Actual salary",
                text: "Actual salary",
                hint: {
                  text: 'This is the annual amount someone will take home'
                },
                conditional: {
                  html: actualSalary
                }
              },
              {
                value: "Pay scale",
                text: "Pay scale",
                conditional: {
                  html: payscale
                }
              }
            ]
          }) }}
        {% endif %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
