{% extends "layout.njk" %}

{% set version = 2 %}

{% set heading = 'Salary details' %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  {% set salary %}
    {{ govukInput({
      id: "create-job[salary]",
      name: "create-job[salary]",
      label: {
        text: "Full-time equivalent salary",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  {% set payscale %}
    {{ govukInput({
      id: "create-job[pay-scale]",
      name: "create-job[pay-scale]",
      label: {
        text: "Pay scale",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  {% set actualSalary %}
    {{ govukInput({
      id: "create-job[take-home]",
      name: "create-job[take-home]",
      label: {
        text: "Actual salary",
        classes: 'govuk-label--s'
      },
      classes: "govuk-input--width-20"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/listing-dates">
          {{ govukCheckboxes({
          idPrefix: "create-job[salary-details]",
          name: "create-job[salary-details]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: 'Select all options that you want to include in the advert'
          },
          items: [
            {
              value: "Full-time equivalent salary",
              text: "Full-time equivalent salary",
              hint: {
                text: 'This is what the annual salary would be for someone working full time'
              },
              conditional: {
                html: salary
              }
            },
            {
              value: "Actual salary",
              text: "Actual salary",
              hint: {
                text: 'This is the annual amount someone will take home'
              },
              conditional: {
                html: actualSalary
              }
            },
            {
              value: "Pay scale",
              text: "Pay scale",
              conditional: {
                html: payscale
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
