{% extends "layout.njk" %}

{% set heading = "Are you able to offer a skilled worker visa sponsorship for non-UK citizens in this role?" %}
{% set caption = 'Create job listing - section 3 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/jobs/new/contact-details" method="post">

        <div class="govuk-form-group">
          <fieldset aria-describedby="createJob[sponsorship]-hint" class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            <h1 class="govuk-fieldset__heading"><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"><span class="govuk-caption-l">Create job listing - section 3 of 4</span> Can you offer visa sponsorship to non-UK citizens for this role?</legend></h1><legend class="govuk-fieldset__legend govuk-fieldset__legend--l"></legend>
            
            <p class="govuk-body">
              You can check if your school or organisation is already <a target="_blank" href="https://www.gov.uk/government/publications/register-of-licensed-sponsors-workers">registered to sponsor non-UK citizens<span class="govuk-visually-hidden"> (opens in new tab)</span></a>. There is also guidance on how to <a target="_blank" href="https://www.gov.uk/guidance/recruit-teachers-from-overseas">recruit teachers from overseas<span class="govuk-visually-hidden"> (opens in new tab)</span></a>.
            </p>
            
            

            <div class="govuk-!-margin-bottom-5" style="padding: 30px 30px 0px 30px; border-bottom: 10px solid rgba(0,0,0,0); background-color: #f3f2f1;">
              
              <p>We've detected your school is not on the register of licensed sponsors, you may not be able to sponsor a skilled worker.</p>

              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Organisation name</th>
                    <th class="govuk-table__header" scope="col">Town/City</th>
                    <th class="govuk-table__header" scope="col">Sponsorship</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {{user.organisation.name}}
                    </td>
                    <td class="govuk-table__cell">
                      {{user.organisation.address.town}}
                    </td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--red">
                        Not registered
                      </strong>
                    </td>
                  </tr>
                
                  
                </tbody>
              </table>


            </div>


            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input aria-controls="conditional-createJob[sponsorship]" aria-expanded="false" class="govuk-radios__input" id="createJob[sponsorship]" name="createJob[sponsorship]" type="radio" value="Yes"> <label class="govuk-label govuk-radios__label" for="createJob[sponsorship]">Yes, we can offer a skilled worker sponsorship for this role</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-createJob[sponsorship]">
                <p>This will enable jobseekers who are looking for sponsorship to find your job more easily.</p>
              </div>
              <div class="govuk-radios__item">
                <input aria-controls="conditional-createJob[sponsorship]-2" aria-expanded="false" class="govuk-radios__input" id="createJob[sponsorship]-2" name="createJob[sponsorship]" type="radio" value="No"> <label class="govuk-label govuk-radios__label" for="createJob[sponsorship]-2">No, we cannot offer a skilled worker sponsorship for this role</label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-createJob[sponsorship]-2">
                <p>This will tell job seekers on your job listing that you cannot offer sponsorship for this role.</p>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
