{% extends "layout.njk" %}

{% set heading = 'Job start date' %}
{% set caption = 'Create job listing - section 1 of 3' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

        {% set dateHtml %}
          {{ govukDateInput({
            id: "createJob[start-date--specific]",
            name: "createJob[start-date--specific]",
            fieldset: {
              legend: {
                text: "Date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 31 3 2023"
            },
            items: [{
              name: "createJob[start-date--specific][day]",
              label: "Day",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--specific'].day
            }, {
              name: "createJob[start-date--specific][month]",
              label: "Month",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--specific'].month
            }, {
              name: "createJob[start-date--specific][year]",
              label: "Year",
              classes: "govuk-input--width-4",
              value: data['createJob']['start-date--specific'].year
            }]
          }) }}
        {% endset %}

        {% set rangeHtml %}
          {{ govukDateInput({
            id: "createJob[start-date--from]",
            name: "createJob[start-date--from]",
            fieldset: {
              legend: {
                text: "Earliest start date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 31 3 2023"
            },
            items: [{
              name: "createJob[start-date--from][day]",
              label: "Day",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--from'].day
            }, {
              name: "createJob[start-date--from][month]",
              label: "Month",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--from'].month
            }, {
              name: "createJob[start-date--from][year]",
              label: "Year",
              classes: "govuk-input--width-4",
              value: data['createJob']['start-date--from'].year
            }]
          }) }}

          {{ govukDateInput({
            id: "createJob[start-date--to]",
            name: "createJob[start-date--to]",
            fieldset: {
              legend: {
                text: "Latest start date",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: "For example, 31 4 2023"
            },
            items: [{
              name: "createJob[start-date--to][day]",
              label: "Day",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--to'].day
            }, {
              name: "createJob[start-date--to][month]",
              label: "Month",
              classes: "govuk-input--width-2",
              value: data['createJob']['start-date--to'].month
            }, {
              name: "createJob[start-date--to][year]",
              label: "Year",
              classes: "govuk-input--width-4",
              value: data['createJob']['start-date--to'].year
            }]
          }) }}
        {% endset %}

        {% set otherHtml %}
          {{ govukInput({
            id: "createJob[start-date--other]",
            name: "createJob[start-date--other]",
            label: {
              text: "Details",
              classes: "govuk-label--s"
            },
            hint: {
              text: "For example ‘Easter term’"
            },
            value: data['createJob']['start-date--other']
          }) }}
        {% endset %}


      <form action="/jobs/new/method">
        {{ govukRadios({
          idPrefix: "createJob[start-date]",
          name: "createJob[start-date]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Specific date",
              text: "Specific date",
              checked: checked("['createJob']['start-date']", "Specific date"),
              conditional: {
                html: dateHtml
              }
            },
            {
              value: "Date range",
              text: "Date range",
              checked: checked("['createJob']['start-date']", "Date range"),
              conditional: {
                html: rangeHtml
              }
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("['createJob']['start-date']", "Other"),
              conditional: {
                html: otherHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}

      </form>

      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
