{% extends "layout.njk" %}

{% set heading = 'Subjects (optional)' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/contract">

      {% if user.organisation.name == 'Hope college' %}

      {{ appCheckboxFilter({
          idPrefix: "subjects",
          name: "subjects",
          legend: {
            html: h1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          },
          items: [
            {
            value: "Accountancy and finance",
            text: "Accountancy and finance",
            checked: checked("['filters']['subjects']", "Accountancy and finance")
          },
          {
            value: "Aeronautical engineering",
            text: "Aeronautical engineering",
            checked: checked("['filters']['subjects']", "Aeronautical engineering")
          },
          {
            value: "Agriculture/horticulture/land-based studies",
            text: "Agriculture/horticulture/land-based studies",
            checked: checked("['filters']['subjects']", "Agriculture/horticulture/land-based studies")
          },
          {
            value: "Animal care",
            text: "Animal care",
            checked: checked("['filters']['subjects']", "Animal care")
          },
          {
            value: "Art",
            text: "Art",
            checked: checked("['filters']['subjects']", "Art")
          },
          {
            value: "Art history",
            text: "Art history",
            checked: checked("['filters']['subjects']", "Art history")
          },
          {
            value: "Biochemistry",
            text: "Biochemistry",
            checked: checked("['filters']['subjects']", "Biochemistry")
          },
          {
            value: "Biology",
            text: "Biology",
            checked: checked("['filters']['subjects']", "Biology")
          },
          {
            value: "British sign language",
            text: "British sign language",
            checked: checked("['filters']['subjects']", "British sign language")
          },
          {
            value: "Building and construction",
            text: "Building and construction",
            checked: checked("['filters']['subjects']", "Building and construction")
          },
          {
            value: "Business studies",
            text: "Business studies",
            checked: checked("['filters']['subjects']", "Business studies")
          },
          {
            value: "Catering",
            text: "Catering",
            checked: checked("['filters']['subjects']", "Catering")
          },
          {
            value: "Chemistry",
            text: "Chemistry",
            checked: checked("['filters']['subjects']", "Chemistry")
          },
          {
            value: "Children's development and learning",
            text: "Children's development and learning",
            checked: checked("['filters']['subjects']", "Children's development and learning")
          },
          {
            value: "Civil engineering",
            text: "Civil engineering",
            checked: checked("['filters']['subjects']", "Civil engineering")
          },
          {
            value: "Class teacher",
            text: "Class teacher",
            checked: checked("['filters']['subjects']", "Class teacher")
          },
          {
            value: "Classics",
            text: "Classics",
            checked: checked("['filters']['subjects']", "Classics")
          },
          {
            value: "Computer science",
            text: "Computer science",
            checked: checked("['filters']['subjects']", "Computer science")
          },
          {
            value: "Counselling",
            text: "Counselling",
            checked: checked("['filters']['subjects']", "Counselling")
          },
          {
            value: "Creative arts",
            text: "Creative arts",
            checked: checked("['filters']['subjects']", "Creative arts")
          },
          {
            value: "Criminology",
            text: "Criminology",
            checked: checked("['filters']['subjects']", "Criminology")
          },
          {
            value: "Customer service",
            text: "Customer service",
            checked: checked("['filters']['subjects']", "Customer service")
          },
          {
            value: "Design and technology",
            text: "Design and technology",
            checked: checked("['filters']['subjects']", "Design and technology")
          },
          {
            value: "Drama",
            text: "Drama",
            checked: checked("['filters']['subjects']", "Drama")
          },
          {
            value: "Early years",
            text: "Early years",
            checked: checked("['filters']['subjects']", "Early years")
          },
          {
            value: "Early years care and education",
            text: "Early years care and education",
            checked: checked("['filters']['subjects']", "Early years care and education")
          },
          {
            value: "Economics",
            text: "Economics",
            checked: checked("['filters']['subjects']", "Economics")
          },
          {
            value: "Education",
            text: "Education",
            checked: checked("['filters']['subjects']", "Education")
          },
          {
            value: "Electrical engineering",
            text: "Electrical engineering",
            checked: checked("['filters']['subjects']", "Electrical engineering")
          },
          {
            value: "Electrical installation",
            text: "Electrical installation",
            checked: checked("['filters']['subjects']", "Electrical installation")
          },
          {
            value: "Electronics",
            text: "Electronics",
            checked: checked("['filters']['subjects']", "Electronics")
          },
          {
            value: "Employability",
            text: "Employability",
            checked: checked("['filters']['subjects']", "Employability")
          },
          {
            value: "Engineering",
            text: "Engineering",
            checked: checked("['filters']['subjects']", "Engineering")
          },
          {
            value: "Engineering and technology",
            text: "Engineering and technology",
            checked: checked("['filters']['subjects']", "Engineering and technology")
          },
          {
            value: "English",
            text: "English",
            checked: checked("['filters']['subjects']", "English")
          },
          {
            value: "English as a foreign language",
            text: "English as a foreign language",
            checked: checked("['filters']['subjects']", "English as a foreign language")
          },
          {
            value: "English as a second or other language",
            text: "English as a second or other language",
            checked: checked("['filters']['subjects']", "English as a second or other language")
          },
          {
            value: "Esports",
            text: "Esports",
            checked: checked("['filters']['subjects']", "Esports")
          },
          {
            value: "Fabrication and welding",
            text: "Fabrication and welding",
            checked: checked("['filters']['subjects']", "Fabrication and welding")
          },
          {
            value: "Farming",
            text: "Farming",
            checked: checked("['filters']['subjects']", "Farming")
          },
          {
            value: "Food technology",
            text: "Food technology",
            checked: checked("['filters']['subjects']", "Food technology")
          },
          {
            value: "Foundation studies",
            text: "Foundation studies",
            checked: checked("['filters']['subjects']", "Foundation studies")
          },
          {
            value: "French",
            text: "French",
            checked: checked("['filters']['subjects']", "French")
          },
          {
            value: "Functional skills",
            text: "Functional skills",
            checked: checked("['filters']['subjects']", "Functional skills")
          },
          {
            value: "Games design",
            text: "Games design",
            checked: checked("['filters']['subjects']", "Games design")
          },
          {
            value: "General studies",
            text: "General studies",
            checked: checked("['filters']['subjects']", "General studies")
          },
          {
            value: "Geography",
            text: "Geography",
            checked: checked("['filters']['subjects']", "Geography")
          },
          {
            value: "Graphic design",
            text: "Graphic design",
            checked: checked("['filters']['subjects']", "Graphic design")
          },
          {
            value: "Hair and beauty",
            text: "Hair and beauty",
            checked: checked("['filters']['subjects']", "Hair and beauty")
          },
          {
            value: "Health and social care",
            text: "Health and social care",
            checked: checked("['filters']['subjects']", "Health and social care")
          },
          {
            value: "History",
            text: "History",
            checked: checked("['filters']['subjects']", "History")
          },
          {
            value: "Hotel, catering and travel",
            text: "Hotel, catering and travel",
            checked: checked("['filters']['subjects']", "Hotel, catering and travel")
          },
          {
            value: "Humanities",
            text: "Humanities",
            checked: checked("['filters']['subjects']", "Humanities")
          },
          {
            value: "ICT",
            text: "ICT",
            checked: checked("['filters']['subjects']", "ICT")
          },
          {
            value: "Land and property management",
            text: "Land and property management",
            checked: checked("['filters']['subjects']", "Land and property management")
          },
          {
            value: "Languages",
            text: "Languages",
            checked: checked("['filters']['subjects']", "Languages")
          },
          {
            value: "Latin",
            text: "Latin",
            checked: checked("['filters']['subjects']", "Latin")
          },
          {
            value: "Leadership and management",
            text: "Leadership and management",
            checked: checked("['filters']['subjects']", "Leadership and management")
          },
          {
            value: "Learning and development",
            text: "Learning and development",
            checked: checked("['filters']['subjects']", "Learning and development")
          },
          {
            value: "Literacy",
            text: "Literacy",
            checked: checked("['filters']['subjects']", "Literacy")
          },
          {
            value: "Logistics",
            text: "Logistics",
            checked: checked("['filters']['subjects']", "Logistics")
          },
          {
            value: "Mathematics",
            text: "Mathematics",
            checked: checked("['filters']['subjects']", "Mathematics")
          },
          {
            value: "Mechanical engineering",
            text: "Mechanical engineering",
            checked: checked("['filters']['subjects']", "Mechanical engineering")
          },
          {
            value: "Media studies",
            text: "Media studies",
            checked: checked("['filters']['subjects']", "Media studies")
          },
          {
            value: "Modern foreign languages",
            text: "Modern foreign languages",
            checked: checked("['filters']['subjects']", "Modern foreign languages")
          },
          {
            value: "Motor vehicle",
            text: "Motor vehicle",
            checked: checked("['filters']['subjects']", "Motor vehicle")
          },
          {
            value: "Music",
            text: "Music",
            checked: checked("['filters']['subjects']", "Music")
          },
          {
            value: "Not applicable",
            text: "Not applicable",
            checked: checked("['filters']['subjects']", "Not applicable")
          },
          {
            value: "People management",
            text: "People management",
            checked: checked("['filters']['subjects']", "People management")
          },
          {
            value: "Performing arts",
            text: "Performing arts",
            checked: checked("['filters']['subjects']", "Performing arts")
          },
          {
            value: "Personal, social and health education",
            text: "Personal, social and health education",
            checked: checked("['filters']['subjects']", "Personal, social and health education")
          },
          {
            value: "Philosophy",
            text: "Philosophy",
            checked: checked("['filters']['subjects']", "Philosophy")
          },
          {
            value: "Photography",
            text: "Photography",
            checked: checked("['filters']['subjects']", "Photography")
          },
          {
            value: "Physical education",
            text: "Physical education",
            checked: checked("['filters']['subjects']", "Physical education")
          },
          {
            value: "Physics",
            text: "Physics",
            checked: checked("['filters']['subjects']", "Physics")
          },
          {
            value: "Plumbing and heating",
            text: "Plumbing and heating",
            checked: checked("['filters']['subjects']", "Plumbing and heating")
          },
          {
            value: "Politics",
            text: "Politics",
            checked: checked("['filters']['subjects']", "Politics")
          },
          {
            value: "Primary/general",
            text: "Primary/general",
            checked: checked("['filters']['subjects']", "Primary/general")
          },
          {
            value: "Public services",
            text: "Public services",
            checked: checked("['filters']['subjects']", "Public services")
          },
          {
            value: "Religious education",
            text: "Religious education",
            checked: checked("['filters']['subjects']", "Religious education")
          },
          {
            value: "Science",
            text: "Science",
            checked: checked("['filters']['subjects']", "Science")
          },
          {
            value: "SEN",
            text: "SEN",
            checked: checked("['filters']['subjects']", "SEN")
          },
          {
            value: "Sociology",
            text: "Sociology",
            checked: checked("['filters']['subjects']", "Sociology")
          },
          {
            value: "Spanish",
            text: "Spanish",
            checked: checked("['filters']['subjects']", "Spanish")
          },
          {
            value: "Sport and leisure",
            text: "Sport and leisure",
            checked: checked("['filters']['subjects']", "Sport and leisure")
          },
          {
            value: "Sports science",
            text: "Sports science",
            checked: checked("['filters']['subjects']", "Sports science")
          },
          {
            value: "Tourism",
            text: "Tourism",
            checked: checked("['filters']['subjects']", "Tourism")
          },
          {
            value: "Welsh",
            text: "Welsh",
            checked: checked("['filters']['subjects']", "Welsh")
          },
          {
            value: "Woodworking, joinery and carpentry",
            text: "Woodworking, joinery and carpentry",
            checked: checked("['filters']['subjects']", "Woodworking, joinery and carpentry")
          }
          ]
        }) }}

      {% else %}

        {{ appCheckboxFilter({
          idPrefix: "subjects",
          name: "subjects",
          legend: {
            html: h1,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          },
          items: [
            {
              value: "Accounting",
              text: "Accounting",
              hint: {
                text: 'Includes Finance and accounting'
              },
              checked: checked("['createJob']['subjects']", "Accounting")
            },
            {
              value: "Art and design",
              text: "Art and design",
              checked: checked("['createJob']['subjects']", "Art and design")
            },
            {
              value: "Biology",
              text: "Biology",
              checked: checked("['createJob']['subjects']", "Biology")
            },
            {
              value: "Business studies",
              text: "Business studies",
              checked: checked("['createJob']['subjects']", "Business studies")
            },
            {
              value: "Chemistry",
              text: "Chemistry",
              checked: checked("['createJob']['subjects']", "Chemistry")
            },
            {
              value: "Citizenship",
              text: "Citizenship",
              checked: checked("['createJob']['subjects']", "Citizenship")
            },
            {
              value: "Classics",
              text: "Classics",
              hint: {
                text: 'Includes Latin'
              },
              checked: checked("['createJob']['subjects']", "Classics")
            },
            {
              value: "Computing",
              text: "Computing",
              hint: {
                text: 'Includes Computer science, Information technology, and ICT'
              },
              checked: checked("['createJob']['subjects']", "Computing")
            },
            {
              value: "Dance",
              text: "Dance",
              checked: checked("['createJob']['subjects']", "Dance")
            },
            {
              value: "Design and technology",
              text: "Design and technology",
              hint: {
                text: 'Includes Product design, Textiles and Systems and control'
              },
              checked: checked("['createJob']['subjects']", "Design and technology")
            },
            {
              value: "Drama",
              text: "Drama",
              hint: {
                text: 'Includes Theatre studies and Performing arts'
              },
              checked: checked("['createJob']['subjects']", "Drama")
            },
            {
              value: "Economics",
              text: "Economics",
              checked: checked("['createJob']['subjects']", "Economics")
            },
            {
              value: "Engineering",
              text: "Engineering",
              checked: checked("['createJob']['subjects']", "Engineering")
            },
            {
              value: "English",
              text: "English",
              hint: {
                text: 'Includes English language and literature'
              },
              checked: checked("['createJob']['subjects']", "English")
            },
            {
              value: "Food Technology",
              text: "Food Technology",
              hint: {
                text: 'Includes Hospitality and catering'
              },
              checked: checked("['createJob']['subjects']", "Food Technology")
            },
            {
              value: "French",
              text: "French",
              checked: checked("['createJob']['subjects']", "French")
            },
            {
              value: "Geography",
              text: "Geography",
              checked: checked("['createJob']['subjects']", "Geography")
            },
            {
              value: "German",
              text: "German",
              checked: checked("['createJob']['subjects']", "German")
            },
            {
              value: "Health and social care",
              text: "Health and social care",
              checked: checked("['createJob']['subjects']", "Health and social care")
            },
            {
              value: "History",
              text: "History",
              checked: checked("['createJob']['subjects']", "History")
            },
            {
              value: "Humanities",
              text: "Humanities",
              checked: checked("['createJob']['subjects']", "Humanities")
            },
            {
              value: "ICT",
              text: "ICT",
              checked: checked("['createJob']['subjects']", "ICT")
            },
            {
              value: "Law",
              text: "Law",
              checked: checked("['createJob']['subjects']", "Law")
            },
            {
              value: "Mandarin",
              text: "Mandarin",
              checked: checked("['createJob']['subjects']", "Mandarin")
            },
            {
              value: "Mathematics",
              text: "Mathematics",
              checked: checked("['createJob']['subjects']", "Mathematics")
            },
            {
              value: "Media studies",
              text: "Media studies",
              checked: checked("['createJob']['subjects']", "Media studies")
            },
            {
              value: "Music",
              text: "Music",
              checked: checked("['createJob']['subjects']", "Music")
            },
            {
              value: "Philosophy",
              text: "Philosophy",
              checked: checked("['createJob']['subjects']", "Philosophy")
            },
            {
              value: "Physical education",
              text: "Physical education",
              checked: checked("['createJob']['subjects']", "Physical education")
            },
            {
              value: "Physics",
              text: "Physics",
              checked: checked("['createJob']['subjects']", "Physics")
            },
            {
              value: "Politics",
              text: "Politics",
              checked: checked("['createJob']['subjects']", "Politics")
            },
            {
              value: "Psychology",
              text: "Psychology",
              checked: checked("['createJob']['subjects']", "Psychology")
            },
            {
              value: "Religious education",
              text: "Religious education",
              hint: {
                text: 'Includes religious studies'
              },
              checked: checked("['createJob']['subjects']", "Religious education")
            },
            {
              value: "Relationships and sex education",
              text: "Relationships and sex education",
              checked: checked("['createJob']['subjects']", "Relationships and sex education")
            },
            {
              value: "Science",
              text: "Science",
              checked: checked("['createJob']['subjects']", "Science")
            },
            {
              value: "Social sciences",
              text: "Social sciences",
              checked: checked("['createJob']['subjects']", "Social sciences")
            },
            {
              value: "Sociology",
              text: "Sociology",
              checked: checked("['createJob']['subjects']", "Sociology")
            },
            {
              value: "Spanish",
              text: "Spanish",
              checked: checked("['createJob']['subjects']", "Spanish")
            },
            {
              value: "Statistics",
              text: "Statistics",
              checked: checked("['createJob']['subjects']", "Statistics")
            }]
        }) }}

      {% endif %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="text/javascript">
    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })
  </script>
{% endblock %}
