{% extends "layout.njk" %}

{% set heading = 'Subjects (optional)' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form action="/jobs/new/contract">

        {{ govukCheckboxes({
          idPrefix: "create-job[subjects]",
          name: "create-job[subjects]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Accounting",
              text: "Accounting",
              hint: {
                text: 'Includes Finance and accounting'
              },
              checked: checked("['create-job']['subjects']", "Accounting")
            },
            {
              value: "Art and design",
              text: "Art and design",
              checked: checked("['create-job']['subjects']", "Art and design")
            },
            {
              value: "Biology",
              text: "Biology",
              checked: checked("['create-job']['subjects']", "Biology")
            },
            {
              value: "Business studies",
              text: "Business studies",
              checked: checked("['create-job']['subjects']", "Business studies")
            },
            {
              value: "Chemistry",
              text: "Chemistry",
              checked: checked("['create-job']['subjects']", "Chemistry")
            },
            {
              value: "Citizenship",
              text: "Citizenship",
              checked: checked("['create-job']['subjects']", "Citizenship")
            },
            {
              value: "Classics",
              text: "Classics",
              hint: {
                text: 'Includes Latin'
              },
              checked: checked("['create-job']['subjects']", "Classics")
            },
            {
              value: "Computing",
              text: "Computing",
              hint: {
                text: 'Includes Computer science, Information technology, and ICT'
              },
              checked: checked("['create-job']['subjects']", "Computing")
            },
            {
              value: "Dance",
              text: "Dance",
              checked: checked("['create-job']['subjects']", "Dance")
            },
            {
              value: "Design and technology",
              text: "Design and technology",
              hint: {
                text: 'Includes Product design, Textiles and Systems and control'
              },
              checked: checked("['create-job']['subjects']", "Design and technology")
            },
            {
              value: "Drama",
              text: "Drama",
              hint: {
                text: 'Includes Theatre studies and Performing arts'
              },
              checked: checked("['create-job']['subjects']", "Drama")
            },
            {
              value: "Economics",
              text: "Economics",
              checked: checked("['create-job']['subjects']", "Economics")
            },
            {
              value: "Engineering",
              text: "Engineering",
              checked: checked("['create-job']['subjects']", "Engineering")
            },
            {
              value: "English",
              text: "English",
              hint: {
                text: 'Includes English language and literature'
              },
              checked: checked("['create-job']['subjects']", "English")
            },
            {
              value: "Food Technology",
              text: "Food Technology",
              hint: {
                text: 'Includes Hospitality and catering'
              },
              checked: checked("['create-job']['subjects']", "Food Technology")
            },
            {
              value: "French",
              text: "French",
              checked: checked("['create-job']['subjects']", "French")
            },
            {
              value: "Geography",
              text: "Geography",
              checked: checked("['create-job']['subjects']", "Geography")
            },
            {
              value: "German",
              text: "Germansh",
              checked: checked("['create-job']['subjects']", "German")
            },
            {
              value: "Health and social care",
              text: "Health and social care",
              checked: checked("['create-job']['subjects']", "Health and social care")
            },
            {
              value: "History",
              text: "Historyh",
              checked: checked("['create-job']['subjects']", "History")
            },
            {
              value: "Humanities",
              text: "Humanities",
              checked: checked("['create-job']['subjects']", "Humanities")
            },
            {
              value: "ICT",
              text: "ICT",
              hint: {
                text: 'Includes MFL (Modern Foreign Languages)'
              },
              checked: checked("['create-job']['subjects']", "ICT")
            },
            {
              value: "Law",
              text: "Lawglish",
              checked: checked("['create-job']['subjects']", "Law")
            },
            {
              value: "Mandarin",
              text: "Mandarin",
              checked: checked("['create-job']['subjects']", "Mandarin")
            },
            {
              value: "Mathematics",
              text: "Mathematics",
              checked: checked("['create-job']['subjects']", "Mathematics")
            },
            {
              value: "Media studies",
              text: "Media studies",
              checked: checked("['create-job']['subjects']", "Media studies")
            },
            {
              value: "Music",
              text: "Musicish",
              checked: checked("['create-job']['subjects']", "Music")
            },
            {
              value: "Philosophy",
              text: "Philosophy",
              checked: checked("['create-job']['subjects']", "Philosophy")
            },
            {
              value: "Physical education",
              text: "Physical education",
              checked: checked("['create-job']['subjects']", "Physical education")
            },
            {
              value: "Physics",
              text: "Physicsh",
              checked: checked("['create-job']['subjects']", "Physics")
            },
            {
              value: "Politics",
              text: "Politics",
              checked: checked("['create-job']['subjects']", "Politics")
            },
            {
              value: "Psychology",
              text: "Psychology",
              checked: checked("['create-job']['subjects']", "Psychology")
            },
            {
              value: "Religious education",
              text: "Religious education",
              hint: {
                text: 'Includes religious studies'
              },
              checked: checked("['create-job']['subjects']", "Religious education")
            },
            {
              value: "Relationships and sex education",
              text: "Relationships and sex education",
              checked: checked("['create-job']['subjects']", "Relationships and sex education")
            },
            {
              value: "Science",
              text: "Science",
              checked: checked("['create-job']['subjects']", "Science")
            },
            {
              value: "Social sciences",
              text: "Social sciences",
              checked: checked("['create-job']['subjects']", "Social sciences")
            },
            {
              value: "Sociology",
              text: "Sociology",
              checked: checked("['create-job']['subjects']", "Sociology")
            },
            {
              value: "Spanish",
              text: "Spanish",
              checked: checked("['create-job']['subjects']", "Spanish")
            },
            {
              value: "Statistics",
              text: "Statistics",
              checked: checked("['create-job']['subjects']", "Statistics")
            }
          ]
        }) }}

        {# <p class="govuk-!-margin-bottom-7"><a href="/jobs/new/contract">Continue without adding a subject</a></p> #}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}
