{% extends "layout.njk" %}

{% set heading = 'Job title' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% set roleType %}{{data ['roletype'] }}{% endset %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      <form method="post" novalidate>

        {% if roleType == 'teaching' %}

          {{ govukCharacterCount({
            id: "createJob[title]",
            name: "createJob[title]",
            label: {
              html: h1,
              isPageHeading: true,
              classes: 'govuk-label--l'
            },
            hint: {
              text: 'For example ‘Teacher of KS1’'
            },
            rows: 1,
            maxlength: 75,
            value: data['createJob'].title
          }) }}

          {{ govukInsetText({
          text: "The job listing will say it’s a " + (user.organisation.schoolType or user.organisation.trustType) + " role."
        }) }}

        {% else %}

          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">              
              <span class="govuk-caption-l">
                Create job listing - section 1 of 4
              </span>
              Job title
            </h1>
            <input class="govuk-input" id="createJob[title]" name="createJob[title]" type="text">
          </div>
          


        {% endif %}

        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/autocomplete/accessible-autocomplete.min.js"></script>

  <script>
    $(document).ready(function () {
      var theSchool = $('.autocomplete-wrapper').data("chosen");
      $('.autocomplete__input').val(theSchool);

      setTimeout(
      function()
      {
        $('.autocomplete__menu').blur();
        $('.autocomplete__menu').removeClass('autocomplete__menu--visible');
        $('.autocomplete__menu').addClass('autocomplete__menu--hidden');

      }, 100);

    })
  </script>
{% endblock %}
