{% extends "layout.njk" %}

{% set heading = 'Job title' %}
{% set caption = 'Create job listing - section 1 of 4' %}
{% set title = heading + ' - ' + caption %}

{% set roleType %}{{data ['roletype'] }}{% endset %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      {% endset %}

      {% if 'Administration, HR data and finance' in data['createJob']['role'] 
         or 'Catering, cleaning or site management' in data['createJob']['role'] 
         or 'IT support' in data['createJob']['role'] 
         or 'Pastoral, health or welfare' in data['createJob']['role'] 
         or 'Other leadership roles' in data['createJob']['role'] 
         or 'Other support roles' in data['createJob']['role'] 
      %}
        
        <form method="post" action="/jobs/new/contract" novalidate>

      {% else %}

        <form method="post" action="/jobs/new/key-stage" novalidate>

      {% endif %}

          <div class="govuk-form-group">
            <h1 class="govuk-heading-l">              
              <span class="govuk-caption-l">
                Create job listing - section 1 of 4
              </span>
              Job title
            </h1>
            <input class="govuk-input" id="createJob[title]" name="createJob[title]" type="text">
          </div>
          


        {{ govukButton({
          text: "Save and continue"
        }) }}

        {{ govukButton({
          text: 'Save and finish later',
          classes: 'govuk-!-margin-left-1 govuk-button--secondary'
        }) }}
      </form>
      <p><a href="#">Cancel</a></p>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  
{% endblock %}
