{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
          {{job.title}}
          {{ govukTag({
            text: job.status,
            classes: job.status | jobStatusTagClass
          }) }}
        </h1>


        {% set linkForCandidates %}filters-role={{job.role}}{% if job.subjects %}&filters-subjects={{job.subjects}}{% endif %}{% endset %}


        {% set insetHtml %}
          <p><a href="/jobseekers?{{linkForCandidates}}" class="">View candidate profiles</a> that match this job listing.</p>
        {% endset %}



          {% if job.status == 'Active' %}
            <p class="govuk-!-width-two-thirds">This job listing was published on {{job.publishDate | date }}. It will close on {{job.closingDate | date}} at {{job.closingTime}}.</p>

            <div class="govuk-button-group"><p>
              <a href="/jobs/{{job.id}}/preview">View (opens in new tab)</a>
              <a href="#" class="govuk-!-margin-left-3">Edit</a>
              <a href="#" class="govuk-!-margin-left-3">Copy</a>
              <a href="#" class="govuk-!-margin-left-3">Close early</a>
              <a href="#" class="govuk-!-margin-left-3">Extend closing date</a></p>
            </div>
         
          {% endif %}

          {% if job.status == 'Scheduled' %}
            <p class="govuk-!-width-two-thirds">This job listing will be published on {{job.publishDate | date }}. It will close on {{job.closingDate | date}} at {{job.closingTime}}.</p>

            <div class="govuk-button-group">
              <a href="/jobs/{{job.id}}/preview" class="govuk-!-margin-left-">Preview</a>
              <a href="#" class="govuk-!-margin-left-3">Copy</a>
              <a href="#" class="govuk-!-margin-left-3">Delete</a>
              <a href="#" class="govuk-!-margin-left-3">Convert to draft</a>
            </div>
          {% endif %}

          {% if job.status == 'Closed' %}
            <p class="govuk-!-width-two-thirds">This job listing was published on {{job.publishDate | date }}. It closed on {{job.closingDate | date}} at {{job.closingTime}}.</p>

            <div class="govuk-button-group">
              <a href="/jobs/{{job.id}}/preview">View (opens in new tab)</a>
              <a href="#" class="govuk-!-margin-left-3">Copy</a>
              <a href="#" class="govuk-!-margin-left-3">Extend closing date</a>
            </div>
          {% endif %}

          {% if job.status == 'Draft' %}

            {% if query.incomplete %}
              <p>This job listing needs to be completed before it can be published.</p>
            {% else %}
              <p>This job listing is complete and needs to be published.</p>
            {% endif %}

            <div class="govuk-button-group">
              {% if query.incomplete %}
                {{ govukButton({
                  text: "Complete job listing",
                  href: '#',
                  classes: 'govuk-!-margin-bottom-0'
                }) }}
              {% else %}
                {{ govukButton({
                  text: "Publish job listing",
                  href: '#',
                  classes: 'govuk-!-margin-bottom-0'
                }) }}
              {% endif %}
              <a href="/jobs/{{job.id}}/preview">Preview</a>
              <a href="#" class="govuk-!-margin-left-3">Copy</a>
              <a href="#" class="govuk-!-margin-left-3">Delete</a>
            </div>
          {% endif %}


        {% include "includes/job-sub-navigation.njk" %}

        <h2 class="govuk-heading-m govuk-!-margin-top-6">
          Current applications
        </h2>

        <p>You can <a class="govuk-link--no-visited-state" href="">download all applications</a>, select what applications you want to download  or add tags to help organise applications.</p>

        <div class="govuk-tabs govuk-!-margin-top-5" data-module="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          
          
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#past-day">
              All (10)
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#unread">
              Unread {% set counterUnread = 0 %}{% for jobseeker in jobseekers %}{% if jobseeker.tag == 'Unread' %}{% set counterUnread = counterUnread + 1 %}{% endif %}{% endfor %}({{counterUnread}})

            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#no">
              Not considering {% set counterUnread = 0 %}{% for jobseeker in jobseekers %}{% if jobseeker.tag == 'Not considering' %}{% set counterUnread = counterUnread + 1 %}{% endif %}{% endfor %}({{counterUnread}})
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#shortlisted">
              Shortlisted {% set counterUnread = 0 %}{% for jobseeker in jobseekers %}{% if jobseeker.tag == 'Shortlisted' %}{% set counterUnread = counterUnread + 1 %}{% endif %}{% endfor %}({{counterUnread}})
            </a>
          </li>
           <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#interview">
              Invite to interview {% set counterUnread = 0 %}{% for jobseeker in jobseekers %}{% if jobseeker.tag == 'Invite to interview' %}{% set counterUnread = counterUnread + 1 %}{% endif %}{% endfor %}({{counterUnread}})
            </a>
          </li>
        </ul>
      
        <div class="govuk-tabs__panel" id="past-day">
          
          <table class="govuk-table govuk-!-margin-top-5" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <caption class="govuk-table__caption govuk-table__caption--m">All applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="all">
                    <label class="govuk-label govuk-checkboxes__label" for="all">
                      <span class="govuk-visually-hidden">Select Aconcagua</span>
                    </label>
                  </div>
                </th>
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Contact details</th>
                <th class="govuk-table__header" scope="col">Tag</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% set counter = 0 %}

              {% for jobseeker in jobseekers %}

                {% if counter >= 10 %}                 
                
                {% else %}

                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                        <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                          <span class="govuk-visually-hidden">Select {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      {% if jobseeker.tag == 'Withdrawn' %} 
                        {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                      {% else %}
                        <a class="govuk-link--no-visited-state" href="/jobs/application/{{ jobseeker.id }}">{{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</a>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ jobseeker.emailAddress }}</td>
                    <td class="govuk-table__cell">
                      {{ govukTag({
                        text: jobseeker.tag,
                        classes: jobseeker.tag | jobStatusTagClass
                      }) }}
                    </td>
                  </tr>

                  {% set counter = counter + 1 %}

                {% endif %}

              {% endfor %}

            </tbody>
          </table>

          <div class="govuk-button-group govuk-!-margin-top-5">
              <form method="post" action="#">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Download selected 
                  </button>
              </form>
              <form action="tag">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Tag selected
                  </button>
              </form>
          </div>


        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="shortlisted">

          <table class="govuk-table govuk-!-margin-top-5" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <caption class="govuk-table__caption govuk-table__caption--m">Shortlisted applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="all">
                    <label class="govuk-label govuk-checkboxes__label" for="all">
                      <span class="govuk-visually-hidden">Select Aconcagua</span>
                    </label>
                  </div>
                </th>
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Contact details</th>
                <th class="govuk-table__header" scope="col">Tag</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% set counter = 0 %}

              {% for jobseeker in jobseekers %}

                {% if jobseeker.tag !== 'Shortlisted' %}                 
                
                {% else %}

                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                        <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                          <span class="govuk-visually-hidden">Select {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      {% if jobseeker.tag == 'Withdrawn' %} 
                        {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                      {% else %}
                        <a class="govuk-link--no-visited-state" href="/jobs/application/{{ jobseeker.id }}">{{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</a>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ jobseeker.emailAddress }}</td>
                    <td class="govuk-table__cell">
                      {{ govukTag({
                        text: jobseeker.tag,
                        classes: jobseeker.tag | jobStatusTagClass
                      }) }}
                    </td>
                  </tr>

                  {% set counter = counter + 1 %}

                {% endif %}

              {% endfor %}

            </tbody>
          </table>

          <div class="govuk-button-group govuk-!-margin-top-5">
              <form method="post" action="#">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Download selected 
                  </button>
              </form>
              <form action="tag">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Tag selected
                  </button>
              </form>
              <div>
                 <button type="submit" class="copy-selected-emails govuk-button govuk-button--secondary" data-module="govuk-button" style="text-decoration:none;">
                     Copy selected emails
                  </button>
              </div>   
              <form action="interview">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Add interview details
                  </button>
              </form>      
              
          </div>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="no">

         <table class="govuk-table govuk-!-margin-top-5" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <caption class="govuk-table__caption govuk-table__caption--m">Not considering applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="all">
                    <label class="govuk-label govuk-checkboxes__label" for="all">
                      <span class="govuk-visually-hidden">Select Aconcagua</span>
                    </label>
                  </div>
                </th>
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Contact details</th>
                <th class="govuk-table__header" scope="col">Tag</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% set counter = 0 %}

              {% for jobseeker in jobseekers %}

                {% if jobseeker.tag !== 'Not considering' %}                 
                
                {% else %}

                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                        <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                          <span class="govuk-visually-hidden">Select {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      {% if jobseeker.tag == 'Withdrawn' %} 
                        {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                      {% else %}
                        <a class="govuk-link--no-visited-state" href="/jobs/application/{{ jobseeker.id }}">{{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</a>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ jobseeker.emailAddress }}</td>
                    <td class="govuk-table__cell">
                      {{ govukTag({
                        text: jobseeker.tag,
                        classes: jobseeker.tag | jobStatusTagClass
                      }) }}
                    </td>
                  </tr>

                  {% set counter = counter + 1 %}

                {% endif %}

              {% endfor %}

            </tbody>
          </table>

          <div class="govuk-button-group govuk-!-margin-top-5">
              <form method="post" action="#">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Download selected 
                  </button>
              </form>
              <form action="tag">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Tag selected
                  </button>
              </form>
              <div>
                 <button type="submit" class="copy-selected-emails govuk-button govuk-button--secondary" data-module="govuk-button" style="text-decoration:none;">
                     Copy selected emails
                  </button>
              </div>  
          </div>

        </div>

        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="unread">
          
          
          <table class="govuk-table govuk-!-margin-top-5" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <caption class="govuk-table__caption govuk-table__caption--m">Unread applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="all">
                    <label class="govuk-label govuk-checkboxes__label" for="all">
                      <span class="govuk-visually-hidden">Select Aconcagua</span>
                    </label>
                  </div>
                </th>
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Contact details</th>
                <th class="govuk-table__header" scope="col">Tag</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% set counter = 0 %}

              {% for jobseeker in jobseekers %}

                {% if jobseeker.tag !== 'Unread' %}                 
                
                {% else %}

                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                        <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                          <span class="govuk-visually-hidden">Select {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      {% if jobseeker.tag == 'Withdrawn' %} 
                        {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                      {% else %}
                        <a class="govuk-link--no-visited-state" href="/jobs/application/{{ jobseeker.id }}">{{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</a>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ jobseeker.emailAddress }}</td>
                    <td class="govuk-table__cell">
                      {{ govukTag({
                        text: jobseeker.tag,
                        classes: jobseeker.tag | jobStatusTagClass
                      }) }}
                    </td>
                  </tr>

                  {% set counter = counter + 1 %}

                {% endif %}

              {% endfor %}

            </tbody>
          </table>

         <div class="govuk-button-group govuk-!-margin-top-5">
              <form method="post" action="#">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Download selected 
                  </button>
              </form>
              <form action="tag">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Tag selected
                  </button>
              </form>
          </div>

        </div>


        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="interview">

          {% set counterInterview = 0 %}
            {% for jobseeker in jobseekers %}
              {% if jobseeker.tag == 'Invite to interview' %}
              
              {% set counterInterview = counterInterview + 1 %}
              {% endif %}
          {% endfor %}

          {% if counterInterview >= 1 %}
              
         
          <table class="govuk-table govuk-!-margin-top-5" data-module="moj-multi-select" data-multi-select-checkbox="#select-all">
            <caption class="govuk-table__caption govuk-table__caption--m">Invited to interview applications</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" id="select-all">
                  <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                    <input type="checkbox" class="govuk-checkboxes__input" id="all">
                    <label class="govuk-label govuk-checkboxes__label" for="all">
                      <span class="govuk-visually-hidden">Select Aconcagua</span>
                    </label>
                  </div>
                </th>
                <th class="govuk-table__header" scope="col">Name</th>
                <th class="govuk-table__header" scope="col">Contact details</th>
                <th class="govuk-table__header" scope="col">Interview details</th>
                <th class="govuk-table__header" scope="col">Tag</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% set counter = 0 %}

              {% for jobseeker in jobseekers %}

                {% if jobseeker.tag !== 'Invite to interview' %}                 
                
                {% else %}

                  <tr class="govuk-table__row govuk-table__row--selected">
                    <td class="govuk-table__cell">
                      <div class="govuk-checkboxes__item govuk-checkboxes--small moj-multi-select__checkbox">
                        <input type="checkbox" class="govuk-checkboxes__input" id="mountain-aconcagua">
                        <label class="govuk-label govuk-checkboxes__label" for="mountain-aconcagua">
                          <span class="govuk-visually-hidden">Select {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</span>
                        </label>
                      </div>
                    </td>
                    <td class="govuk-table__cell">
                      {% if jobseeker.tag == 'Withdrawn' %} 
                        {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                      {% else %}
                        <a class="govuk-link--no-visited-state" href="/jobs/application/{{ jobseeker.id }}">{{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}</a>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">{{ jobseeker.emailAddress }}</td>
                    <td class="govuk-table__cell">{{ jobseeker.interviewDetails }}</td>
                    <td class="govuk-table__cell">
                      {{ govukTag({
                        text: jobseeker.tag,
                        classes: jobseeker.tag | jobStatusTagClass
                      }) }}
                    </td>
                  </tr>

                  {% set counter = counter + 1 %}

                {% endif %}

              {% endfor %}

            </tbody>
          </table>

          <div class="govuk-button-group govuk-!-margin-top-5">
              <form method="post" action="#">
                  <button type="submit" class="govuk-button" data-module="govuk-button">
                    Download selected 
                  </button>
              </form>
              <form action="tag">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Tag selected
                  </button>
              </form>
              <div>
                  <button type="submit" class="copy-selected-emails govuk-button govuk-button--secondary" data-module="govuk-button" style="text-decoration:none;">
                     Copy selected emails
                  </button>
              </div>
              <form action="interview_single?term=Edit">
                  <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                      Edit interview details
                  </button>
              </form>   

          </div>

          {% else %}

            <h3 class="govuk-heading-m govuk-!-margin-top-0">
              No applications have been invited to interview yet
            </h3>

            <p>
              You can add interview details and organise applicants who you are planning to interview by tagging applicants with the 'invite to interview' tag.
            </p>

          {% endif %}


        </div>


      </div>


          

          

    </div>

    

</div>


  

{% endblock %}
