{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}

{% set title = [jobseeker.profile.firstName, jobseeker.profile.lastName] | join(' ') %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}


    <div class="govuk-grid-row">
        
        <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Online checks</span>

            <h1 class="govuk-heading-l govuk-!-margin-bottom-5 govuk-!-margin-top-0">
                {{title}}
                {{ govukTag({
                    text: jobseeker.tag,
                    classes: jobseeker.tag | jobStatusTagClass
                }) }}
            </h1>

        </div>

        <div id="application">
        
            <div class="govuk-grid-column-two-thirds">

                
                <p>
                    Schools and colleges should consider carrying out an online search as part of their due diligence on the shortlisted candidates. This may help identify any incidents or issues that have happened, and are publicly available online, which you might want to explore with the applicant at interview.  
                </p>
                <p>
                Your online search approach should be agreed in advance and applied consistently to all shortlisted candidates.
                </p>
                
                <form method="post">

                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Have online checks been completed?
                            </legend>
                            <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                    No
                                </label>
                            </div>
                            <div class="govuk-radios__divider">or</div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="whereDoYouLive-6" name="whereDoYouLive" type="radio" value="abroad">
                                <label class="govuk-label govuk-radios__label" for="whereDoYouLive-6">
                                   Not doing online checks
                                </label>
                            </div>
                            
                            </div>
                        </fieldset>
                        </div>

                
                <button type="submit" class="govuk-button" data-module="govuk-button">
                        Save and update
                    </button>

                </form>
           
                  
                    
            </div>

            <div class="govuk-grid-column-one-third">

                
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">
                            Notes
                        </h2>
                        <ul class="govuk-summary-card__actions">
                            <li class="govuk-summary-card__action">
                                <a class="govuk-link govuk-link--no-visited-state" href="#">Edit notes</a>
                            </li>
                            
                        </ul>
                    </div>
                    <div class="govuk-summary-card__content">

                        <p class="govuk-!-margin-bottom-0">
                            Great work experience, I think we should shortlist
                        </p>
                        <p class="govuk-body-s govuk-!-margin-top-1">
                            By Bob Smith, 2024-06-26 12:04:49 +0100
                        </p>

                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible govuk-!-margin-bottom-3">

                        <p class="govuk-!-margin-bottom-0">
                        Also like the personal statement
                        </p>
                        <p class="govuk-body-s govuk-!-margin-top-1">
                            By Rachel Brown, 2024-06-28 16:32:22 +0100
                        </p>

                        <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">


                        <div class="govuk-form-group govuk-character-count govuk-!-margin-top-3" data-module="govuk-character-count" data-maxlength="150">
                            <label class="govuk-label" for="label-as-page-heading">
                                Add a note
                            </label>
                            <textarea class="govuk-textarea govuk-js-character-count" id="label-as-page-heading" name="labelAsPageHeading" rows="5" aria-describedby="label-as-page-heading-info"></textarea>
                            <div id="label-as-page-heading-info" class="govuk-hint govuk-character-count__message govuk-body-s">
                                You have 150 characters remaining
                            </div>
                        </div>

                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save note
                        </button>

                    </div>
                </div>

            </div>

        </div>

       

    </div>
    
    

  

{% endblock %}
