{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'job' %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{data['createJob']['title']}}
    {{govukTag({
        text: "ACTIVE",
        classes: "govuk-tag--green"
    })}}
  </h1>

 
  {% set linkForCandidates %}filters-role={{job.role}}{% if job.subjects %}&filters-subjects={{job.subjects}}{% endif %}{% endset %}

  {% set insetHtml %}
    <p><a href="/jobseekers?{{linkForCandidates}}" class="">View candidate profiles</a> that match this job listing.</p>
  {% endset %}

    {% if 'Today' in data['createJob']['publishDate'] %}
      <p class="govuk-!-width-two-thirds">This job listing was published {{ data['createJob']['publishDate']}}. It will close on 31st April 2024 at 9am.</p>
    {% elseif 'Tomorrow' in data['createJob']['publishDate'] %}
      <p class="govuk-!-width-two-thirds">This job listing will be published {{ data['createJob']['publishDate']}}. It will close on 31st April 2024 at 9am.</p>
    {% else %}
      <p class="govuk-!-width-two-thirds">This job listing will be published on {{ data['createJob']['publishDate']}}. It will close on 31st April 2024 at 9am.</p>
    {% endif %}

    <div class="govuk-button-group"><p>
      <a href="#">View (opens in new tab)</a>
      <a href="#" class="govuk-!-margin-left-3">Copy</a>
      <a href="#" class="govuk-!-margin-left-3">Close early</a>
      <a href="#" class="govuk-!-margin-left-3">Extend closing date</a></p>
    </div>

    {{ govukInsetText({
      html: insetHtml,
      classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-bottom-3'
    }) }}


    <nav class="app-sub-navigation govuk-!-margin-top-6 govuk-!-margin-bottom-2" aria-label="Application menu">

    <ul class="app-sub-navigation__list">

      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" aria-current="page" href="#" >Job listing</a>
      </li>

      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" href="#" >Invitees</a>
      </li>
    
      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" href="#" >Applications</a>
      </li>
    
      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" href="#" >Statistics</a>
      </li>
    
      <li class="app-sub-navigation__item">
        <a class="app-sub-navigation__link" href="#" >Activity</a>
      </li>
        
    </ul>

  </nav>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Job details
      </h2>


      {% set salaryDetails %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% if data['createJob']['full-time-salary'] %} 
          <li>
            <p>Full-time equivalent salary:<br>
            {{data['createJob']['full-time-salary']}}</p>
          </li>
          {% endif %}
          {% if data['createJob']['actual-salary'] %} 
          <li>
            <p>Actual salary:<br>
            {{data['createJob']['actual-salary']}}</p>
          </li>
          {% endif %}
          {% if data['createJob']['pay-scale'] %} 
          <li class="govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-bottom-0">Pay scale:<br>
            {{data['createJob']['pay-scale']}}</p>
          </li>
          {% endif %}
        </ul>
      {% endset %}

      {% set additionalDocuments %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% for document in job.additionalDocuments %}
            <li {% if loop.last %} class="govuk-!-margin-bottom-0" {% endif %}>
              <a href="#">{{document.file}} ({{document.size}})</a>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Locations where the job is based"
            },
            value: {
              text: "Farnham Heath End, Hale Reeds, Farnham, Surrey, GU9 9BN"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/locations",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.organisation.schools,
          {
            key: {
              text: "Role"
            },
            value: {
              text: data['createJob']['role']
            },
            actions: {
              items: [
                {
                  href: '/jobs/edit/' + job.id + '/role',
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: data['createJob']['title']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/title",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              text: data['createJob']['key-stages'] | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.keyStages,
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: data['createJob']['subjects'] | join(', ') or 'None'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/subjects",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.subjects,
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: data['createJob']['contract']
            },
            actions: {
              items: [
                {
                  href: "jobs/new/contract",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: data['createJob']['partTimeDetails']
            },
            actions: {
              items: [
                {
                  href: "jobs/new/working-patterns",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Salary details"
            },
            value: {
              html: salaryDetails
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Dates
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish date"
            },
            value: {
              text: data['createJob']['publishDate']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date"
            },
            value: {
              text: '31 April 2024 at 9am'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job start date"
            },
            value: {
              html: '1 June 2024'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/start-date",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application process
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to use the application form?"
            },
            value: {
              text: data['createJob']['method'] 
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/method",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "How would you like applications to be submitted?"
            },
            value: {
              text: data['createJob']['process'] 
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/process",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationMethod,
          {
            key: {
              text: "Application form"
            },
            value: {
              html: '<a href="#">Application form(2mb)</a>'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationForm,
          {
            key: {
              text: "Email address to receive applications"
            },
            value: {
              html: 'molly@example.com'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.emailAddressForApplications,
          {
            key: {
              text: "Link to website"
            },
            value: {
              html: 'schoolsite.com'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/link",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.linkToWebsite,
          {
            key: {
              text: "Do you want to offer school visits?"
            },
            value: {
              text: data['createJob']['school-visits']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/school-visits",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.offersSchoolVisits,
          {
            key: {
              text: "Email address"
            },
            value: {
              html: 'molly@example.com'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give a contact phone number?"
            },
            value: {
              text: data['createJob']['provide-phone-number']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "0207 3456 3746"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.contactPhoneNumber
        ]
      }) }}

      <h2 class="govuk-heading-m">
        About the role
      </h2>

      {% set skillsAndExperience %}
        <div class="app-prose govuk-!-margin-bottom-0">
          {% markdown %}
            {{job.skillsAndExperience}}
          {% endmarkdown %}
        </div>
      {% endset %}

      {% set whatSchoolOffers %}
        <div class="app-prose govuk-!-margin-bottom-0">
          {% markdown %}
            {{job.whatSchoolOffers}}
          {% endmarkdown %}
        </div>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is this role suitable for an early career teacher (ECT)?"
            },
            value: {
              text: data['createJob']['suitability']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['suitability'],
          {
            key: {
              text: "What skills and experience are you looking for?"
            },
            value: {
              html: data['createJob']['skills']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What does your school offer?"
            },
            value: {
              html: data['createJob']['benefits']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Information about your commitment to safeguarding"
            },
            value: {
              text: job.safeguardingCommitment
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.safeguardingCommitment,
          {
            key: {
              text: "Do you want to add further details about the role?"
            },
            value: {
              text: data['createJob']['other-information']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Further details about the role"
            },
            value: {
              text: job.furtherDetailsAboutTheRole
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.furtherDetailsAboutTheRole,
          {
            key: {
              text: "Do you want to upload any additional documents?"
            },
            value: {
              text: data['createJob']['upload']
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/upload",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional documents"
            },
            value: {
              html: '<a href="#">person-spec.pdf (2MB)</a>'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/file-check",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if data['createJob']['upload'] == 'Yes'
        ]
      }) }}

    </div>
  </div>

{% endblock %}
