
{% extends "layout.njk" %}

{% set title = 'Job listings (5)' %}

{% set primaryNavId = 'jobs' %}

{% block content %}
  {{appPageHeader({
    heading: {
      text: title,
      classes: 'govuk-heading-l'
    },
    items: [{
      text: 'Create job listing',
      href: '/jobs/new'
    }]
  })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukTable({
        head: [
          {
            text: "Title"
          },
          {
            text: "Applications"
          },
          {
            text: "Closing date"
          },
          {
            text: "Status"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: '<a href="/jobs/show--published">Maths teacher</a>'
            },
            {
              html: '<a href="#">2 applications</a>'
            },
            {
              html: "1 August 2022 at 11:59pm"
            },
            {
              html: govukTag({ text: 'Published', classes: 'govuk-tag--green'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--scheduled">English teacher</a>'
            },
            {
              html: '0 applications'
            },
            {
              html: "8 August 2022 at 11:59pm"
            },
            {
              html: govukTag({ text: 'Scheduled', classes: 'govuk-tag--yellow'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--draft">History teacher</a>'
            },
            {
              html: 'By email'
            },
            {
              html: "1 September 2022 at 4pm"
            },
            {
              html: govukTag({ text: 'Draft', classes: 'govuk-tag--grey'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--draft-complete">Science teacher</a>'
            },
            {
              html: 'By website'
            },
            {
              html: "1 September 2022 at 4pm"
            },
            {
              html: govukTag({ text: 'Draft', classes: 'govuk-tag--grey'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--closed">Tutor</a>'
            },
            {
              html: 'By email'
            },
            {
              html: "1 September 2022 at 4pm"
            },
            {
              html: govukTag({ text: 'Closed', classes: 'govuk-tag--red'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ]
        ]
      }) if 1 == 2 }}


    </div>
  </div>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/jobs-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      {# {% include "includes/jobs-search-form.njk" %} #}

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div class="app-job-listings">
        {% for job in user.jobs %}
        <div class="app-job-listings__job">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
            <a href="/jobs/{{job.id}}">{{job.title}}</a>
          </h2>
          {{ govukTag({
            text: job.status,
            classes: job.status | jobStatusTagClass
          }) }}
          <p class="app-job-listings__copy govuk-!-margin-bottom-0">
            <a href="/jobs/new/copied">Copy</a>
          </p>
        </div>
      {% endfor %}
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })
  </script>
{% endblock %}