
{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}

{% block content %}
  {{appPageHeader({
    heading: {
      text: 'Job listings (3)',
      classes: 'govuk-heading-l'
    },
    items: [{
      text: 'Create job listing',
      href: '/jobs/new'
    }]
  })}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukTable({
        head: [
          {
            text: "Title"
          },
          {
            text: "Applications"
          },
          {
            text: "Closing date"
          },
          {
            text: "Status"
          },
          {
            text: ""
          }
        ],
        rows: [
          [
            {
              html: '<a href="/jobs/show">Maths teacher</a>'
            },
            {
              html: '<a href="#">2 applications</a>'
            },
            {
              html: "1 August 2022 at 11:59pm"
            },
            {
              html: govukTag({ text: 'Published', classes: 'govuk-tag--green'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--scheduled">English teacher</a>'
            },
            {
              html: '0 applications'
            },
            {
              html: "8 August 2022 at 11:59pm"
            },
            {
              html: govukTag({ text: 'Scheduled', classes: 'govuk-tag--yellow'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--draft">History teacher</a>'
            },
            {
              html: '0 applications'
            },
            {
              html: "1 September 2022 at 4pm"
            },
            {
              html: govukTag({ text: 'Draft', classes: 'govuk-tag--grey'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ],
          [
            {
              html: '<a href="/jobs/show--draft-complete">Science teacher</a>'
            },
            {
              html: '0 applications'
            },
            {
              html: "1 September 2022 at 4pm"
            },
            {
              html: govukTag({ text: 'Draft', classes: 'govuk-tag--grey'})
            },
            {
              html: '<a href="/jobs/new/copied">Copy job listing</a>'
            }
          ]
        ]
      }) }}

    </div>
  </div>

{% endblock %}
