{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}


<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Interview details</span>


        <form method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Add interview details for {{ jobseeker.profile.firstName }} {{ jobseeker.profile.lastName }}
                </h1>
                </legend>

                <div class="govuk-form-group">
                   
                    <div id="interview-hint" class="govuk-hint">
                        Enter the date and time of interview
                    </div>
                    <input class="govuk-input" id="interviewDetails" name="interviewDetails" type="text" aria-describedby="interview-hint" value="{{ jobseeker.interviewDetails }}">
                </div>

                
            </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>

        </form>

        <p class="govuk-body">
            <a href="applications" class="govuk-link">Cancel</a>
        </p>

    </div>

</div>
  

{% endblock %}
