{% extends "layout.njk" %}

{% block content %}

  {% set notificationBannerHtml %}
    <h2 class="govuk-heading-m">
      There’s a problem
    </h2>
    <div class="app-notification-banner-summary__body">
      <ul class="govuk-list app-notification-banner-summary__list">
        <li>
          <a href="#publish-date">The publish date must be in the future</a>
        </li>
      </ul>
    </div>

  {% endset %}

  {{ govukNotificationBanner({
    html: notificationBannerHtml
  }) }}

  {# <span class="govuk-caption-l">
    Job listing
  </span> #}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    English teacher
    {{ govukTag({
      text: "Draft",
      classes: 'govuk-tag--grey'
    }) }}
  </h1>

  <p>
    <a href="#">Publish or schedule</a>&nbsp;&nbsp;
    {# <a href="#">Schedule</a>&nbsp;&nbsp; #}
    <a href="#">Preview</a>&nbsp;&nbsp;
    <a href="#">Copy</a>&nbsp;&nbsp;
    <a href="#">Delete</a>&nbsp;&nbsp;
  </p>





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Job details
      </h2>

      {% set workingPatterns %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          <li>
            <p>Full-time</p>
          </li>
          <li class="govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-bottom-0">Part-time:<br>
            3 days a week</p>
          </li>
        </ul>
      {% endset %}

      {% set salaryDetails %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          <li>
            <p>Full-time equivalent salary:<br>
            £25,000 to £35,000</p>
          </li>
          <li>
            <p>Actual salary:<br>
            £17,000 to £26,000</p>
          </li>
          <li class="govuk-!-margin-bottom-0">
            <p class="govuk-!-margin-bottom-0">Pay scale:<br>
            MP1 to MP6</p>
          </li>
        </ul>
      {% endset %}

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Locations where the job is based"
            },
            value: {
              text: "Farnham Heath End, Hale Reeds, Farnham, Surrey, GU9 9BN"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/locations",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Role"
            },
            value: {
              text: "Teacher"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/role",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: "Teacher of KS1"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/title",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              text: "Key stage 1, key stage 2"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: "Maths"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: "Permanent"
            },
            actions: {
              items: [
                {
                  href: "jobs/new/contract",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: workingPatterns
            },
            actions: {
              items: [
                {
                  href: "jobs/new/working-patterns",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Salary details"
            },
            value: {
              html: salaryDetails
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Dates
      </h2>

      {% set publishDateHtml %}
        <div class="app-field-highlight" id="publish-date">
          <p class="app-field-highlight__instruction">The publish date must be in the future</p>

          Today (6 June 2022)
        </div>
      {% endset %}

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish date"
            },
            value: {
              html: publishDateHtml
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date"
            },
            value: {
              text: "1 September 2022"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing time"
            },
            value: {
              text: "9am"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Start date"
            },
            value: {
              text: "30 October 2022"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application process
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to use the application form?"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/method",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <p>Finish creating this job listing.</p>

      {{ govukButton({
        text: "Finish job listing"
      }) }}


    </div>
  </div>

{% endblock %}
