{% extends "layout.njk" %}

{% block content %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{job.title}}
    {{ govukTag({
      text: job.status,
      classes: job.status | jobStatusTagClass
    }) }}
  </h1>

  {% set insetHtml %}

    {% if job.status == 'Published' %}
      <p>This job listing was published on {{job.publishDate | date }}. It closes on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#">Copy</a>
        <a href="#" class="govuk-!-margin-left-2">End early</a>
      </div>

    {% endif %}

    {% if job.status == 'Scheduled' %}
      <p>This job listing will be published on {{job.publishDate | date }}. It closes on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#">Unschedule</a>
        <a href="#" class="govuk-!-margin-left-2">Preview</a>
        <a href="#" class="govuk-!-margin-left-2">Copy</a>
        <a href="#" class="govuk-!-margin-left-2">Delete</a>
      </div>
    {% endif %}

    {% if job.status == 'Draft' %}
      <p>This job listing needs to be completed before it can be published.</p>

      <div class="govuk-button-group">
        <a href="#">Complete job listing</a>
        <a href="#" class="govuk-!-margin-left-2">Preview</a>
        <a href="#" class="govuk-!-margin-left-2">Copy</a>
        <a href="#" class="govuk-!-margin-left-2">Delete</a>
      </div>
    {% endif %}

    {% if job.status == 'Closed' %}
      <p>This job listing was published on {{job.publishDate | date }}. It closed on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#">Extend deadline</a>
        <a href="#" class="govuk-!-margin-left-2">Preview</a>
        <a href="#" class="govuk-!-margin-left-2">Copy</a>
      </div>
    {% endif %}

  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInsetText({
        html: insetHtml,
        classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-bottom-3'
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Job details
      </h2>

      {% set workingPatterns %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">

          {% for workingPattern in job.workingPatterns %}
            <li>
              <p class="govuk-!-margin-bottom-0">
                {{workingPattern}} -
                {% if workingPattern == 'Full time' %}
                  {{job.fullTimeDetails}}
                {% else %}
                  {{job.partTimeDetails}}
                {% endif %}
              </p>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set salaryDetails %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% for salaryDetail in job.salaryDetails %}
            <li>
              <p>
                {{salaryDetail}}:
                <br>
                {% if salaryDetail == 'Full-time equivalent salary' %}
                  {{job.fullTimeEquivalentSalaryDetails}}
                {% elseif salaryDetail == 'Actual salary' %}
                  {{job.actualSalaryDetails}}
                {% else %}
                  {{job.payScaleDetails}}
                {% endif %}
              </p>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set additionalDocuments %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% for document in job.additionalDocuments %}
            <li>
              <a href="#">{{document.file}}, {{document.size}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Locations where the job is based"
            },
            value: {
              text: "Farnham Heath End, Hale Reeds, Farnham, Surrey, GU9 9BN"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/locations",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.organisation.schools,
          {
            key: {
              text: "Role"
            },
            value: {
              text: job.role
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/role",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: job.title
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/title",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              text: job.keyStages | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.keyStages,
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: job.subjects | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.subjects,
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: job.contractType + ' - ' + job.contractLength
            },
            actions: {
              items: [
                {
                  href: "jobs/new/contract",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: workingPatterns
            },
            actions: {
              items: [
                {
                  href: "jobs/new/working-patterns",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Salary details"
            },
            value: {
              html: salaryDetails
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application process
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to use the application form?"
            },
            value: {
              text: job.isUsingApplicationForm
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/method",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "How would you like applications to be submitted?"
            },
            value: {
              text: job.applicationMethod
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationMethod,
          {
            key: {
              text: "Application form"
            },
            value: {
              html: '<a href="#">' + job.applicationForm.file + ', ' + job.applicationForm.size +'</a>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationForm,
          {
            key: {
              text: "Email address to receive applications"
            },
            value: {
              html: job.emailAddressForApplications
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.emailAddressForApplications,
          {
            key: {
              text: "Application form"
            },
            value: {
              html: job.linkToWebsite
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.linkToWebsite,
          {
            key: {
              text: "Do you want to offer school visits?"
            },
            value: {
              text: job.offersSchoolVisits
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.offersSchoolVisits,
          {
            key: {
              text: "Email address"
            },
            value: {
              html: job.contactEmailAddress
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give a contact phone number?"
            },
            value: {
              text: job.hasContactPhoneNumber
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "0207 3456 3746"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.contactPhoneNumber
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Dates
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish date"
            },
            value: {
              text: job.publishDate | date
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date"
            },
            value: {
              text: job.closingDate | date + ' at ' + job.closingTime
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job start date"
            },
            value: {
              html: job.startDate | date
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        About the role
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is this role suitable for an early career teacher (ECT)?"
            },
            value: {
              text: job.isRoleSuitableForEarlyCareeerTeachers
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/role",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What skills and experience are you looking for?"
            },
            value: {
              text: jobs.skilsAndExperience
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What does your school offer?"
            },
            value: {
              text: job.whatSchoolOffers
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give information about your commitment to safeguarding?
Yes"
            },
            value: {
              text: job.hasSafeguardingCommitment
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Information about your commitment to safeguarding"
            },
            value: {
              text: job.safeguardingCommitment
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.safeguardingCommitment,
          {
            key: {
              text: "Do you want to add further details about the role?"
            },
            value: {
              text: job.hasFurtherDetailsAboutTheRole
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Further details about the role"
            },
            value: {
              text: job.furtherDetailsAboutTheRole
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.furtherDetailsAboutTheRole,
          {
            key: {
              text: "Do you want to upload any additional documents?"
            },
            value: {
              text: job.hasAdditionalDocuments
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional documents"
            },
            value: {
              html: additionalDocuments
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.additionalDocuments
        ]
      }) }}

    </div>
  </div>

{% endblock %}
