{% extends "layout.njk" %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{job.title}}
    {{ govukTag({
      text: job.status,
      classes: job.status | jobStatusTagClass
    }) }}
  </h1>

  {% set insetHtml %}

    {% if job.status == 'Published' %}
      <p class="govuk-!-width-two-thirds">This job listing was published on {{job.publishDate | date }}. It will close on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#">View (opens in new tab)</a>
        <a href="#" class="govuk-!-margin-left-3">Copy</a>
        <a href="#" class="govuk-!-margin-left-3">Close early</a>
        <a href="#" class="govuk-!-margin-left-3">Extend closing date</a>
      </div>

    {% endif %}

    {% if job.status == 'Scheduled' %}
      <p class="govuk-!-width-two-thirds">This job listing will be published on {{job.publishDate | date }}. It will close on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#" class="govuk-!-margin-left-">Preview (opens in new tab)</a>
        <a href="#" class="govuk-!-margin-left-3">Copy</a>
        <a href="#" class="govuk-!-margin-left-3">Delete</a>
        <a href="#" class="govuk-!-margin-left-3">Convert to draft</a>
      </div>
    {% endif %}

    {% if job.status == 'Closed' %}
      <p class="govuk-!-width-two-thirds">This job listing was published on {{job.publishDate | date }}. It closed on {{job.closingDate | date}} at {{job.closingTime}}.</p>

      <div class="govuk-button-group">
        <a href="#">View (opens in new tab)</a>
        <a href="#" class="govuk-!-margin-left-3">Copy</a>
        <a href="#" class="govuk-!-margin-left-3">Extend closing date</a>
      </div>
    {% endif %}

    {% if job.status == 'Draft' %}

      {% if query.incomplete %}
        <p>This job listing needs to be completed before it can be published.</p>
      {% else %}
        <p>This job listing is complete and needs to be published.</p>
      {% endif %}

      <div class="govuk-button-group">
        {% if query.incomplete %}
          {{ govukButton({
            text: "Complete job listing",
            href: '#',
            classes: 'govuk-!-margin-bottom-0'
          }) }}
        {% else %}
          {{ govukButton({
            text: "Publish job listing",
            href: '#',
            classes: 'govuk-!-margin-bottom-0'
          }) }}
        {% endif %}
        <a href="#">Preview (opens in new tab)</a>
        <a href="#" class="govuk-!-margin-left-3">Copy</a>
        <a href="#" class="govuk-!-margin-left-3">Delete</a>
      </div>
    {% endif %}



  {% endset %}

  {{ govukInsetText({
    html: insetHtml,
    classes: 'govuk-!-margin-top-0 govuk-!-margin-bottom-2 govuk-!-padding-bottom-3'
  }) }}


  {{ appSubNavigation({
    classes: 'govuk-!-margin-top-6 govuk-!-margin-bottom-2',
    navigationLabel: 'Application menu',
    items: [{
      html: 'Job listing',
      href: '#',
      active: true
    }, {
      html: 'Applications',
      href: '#',
      active: false
    }, {
      html: 'Statistics',
      href: '#',
      active: false
    }, {
      html: 'Activity',
      href: '#',
      active: false
    }]
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-margin-top-6">
        Job details
      </h2>

      {% set workingPatterns %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">

          {% for workingPattern in job.workingPatterns %}
            <li {% if loop.last %} class="govuk-!-margin-bottom-0" {% endif %}>
              {{workingPattern}} -
              {% if workingPattern == 'Full time' %}
                {{job.fullTimeDetails}}
              {% else %}
                {{job.partTimeDetails}}
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set salaryDetails %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% for salaryDetail in job.salaryDetails %}
            <li {% if loop.last %} class="govuk-!-margin-bottom-0" {% endif %}>
                {{salaryDetail}}:<br>
                {% if salaryDetail == 'Full-time equivalent salary' %}
                  {{job.fullTimeEquivalentSalaryDetails}}
                {% elseif salaryDetail == 'Actual salary' %}
                  {{job.actualSalaryDetails}}
                {% else %}
                  {{job.payScaleDetails}}
                {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endset %}

      {% set additionalDocuments %}
        <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-0">
          {% for document in job.additionalDocuments %}
            <li {% if loop.last %} class="govuk-!-margin-bottom-0" {% endif %}>
              <a href="#">{{document.file}}, {{document.size}}</a>
            </li>
          {% endfor %}
        </ul>
      {% endset %}

       {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Locations where the job is based"
            },
            value: {
              text: "Farnham Heath End, Hale Reeds, Farnham, Surrey, GU9 9BN"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/locations",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.organisation.schools,
          {
            key: {
              text: "Role"
            },
            value: {
              text: job.role
            },
            actions: {
              items: [
                {
                  href: '/jobs/edit/' + job.id + '/role',
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job title"
            },
            value: {
              text: job.title
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/title",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Key stage"
            },
            value: {
              text: job.keyStages | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/key-stage",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.keyStages,
          {
            key: {
              text: "Subjects"
            },
            value: {
              text: job.subjects | join(', ')
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/subjects",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.subjects,
          {
            key: {
              text: "Contract type"
            },
            value: {
              text: job.contractType + ' - ' + job.contractLength
            },
            actions: {
              items: [
                {
                  href: "jobs/new/contract",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Working patterns"
            },
            value: {
              html: workingPatterns
            },
            actions: {
              items: [
                {
                  href: "jobs/new/working-patterns",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Salary details"
            },
            value: {
              html: salaryDetails
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/salary",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Dates
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Publish date"
            },
            value: {
              text: job.publishDate | date
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Closing date"
            },
            value: {
              text: job.closingDate | date + ' at ' + job.closingTime
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/listing-dates",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Job start date"
            },
            value: {
              html: job.startDate | date
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/start-date",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application process
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Do you want to use the application form?"
            },
            value: {
              text: job.isUsingApplicationForm
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/method",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "How would you like applications to be submitted?"
            },
            value: {
              text: job.applicationMethod
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/process",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationMethod,
          {
            key: {
              text: "Application form"
            },
            value: {
              html: '<a href="#">' + job.applicationForm.file + ', ' + job.applicationForm.size +'</a>'
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.applicationForm,
          {
            key: {
              text: "Email address to receive applications"
            },
            value: {
              html: job.emailAddressForApplications
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/form",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.emailAddressForApplications,
          {
            key: {
              text: "Link to website"
            },
            value: {
              html: job.linkToWebsite
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/link",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.linkToWebsite,
          {
            key: {
              text: "Do you want to offer school visits?"
            },
            value: {
              text: job.offersSchoolVisits
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/school-visits",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.offersSchoolVisits,
          {
            key: {
              text: "Email address"
            },
            value: {
              html: job.contactEmailAddress
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give a contact phone number?"
            },
            value: {
              text: job.hasContactPhoneNumber
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Phone number"
            },
            value: {
              text: "0207 3456 3746"
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/contact-details",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.contactPhoneNumber
        ]
      }) }}

      <h2 class="govuk-heading-m">
        About the role
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Is this role suitable for an early career teacher (ECT)?"
            },
            value: {
              text: job.isRoleSuitableForEarlyCareeerTeachers
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What skills and experience are you looking for?"
            },
            value: {
              text: jobs.skilsAndExperience
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "What does your school offer?"
            },
            value: {
              text: job.whatSchoolOffers
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Do you want to give information about your commitment to safeguarding?
Yes"
            },
            value: {
              text: job.hasSafeguardingCommitment
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Information about your commitment to safeguarding"
            },
            value: {
              text: job.safeguardingCommitment
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.safeguardingCommitment,
          {
            key: {
              text: "Do you want to add further details about the role?"
            },
            value: {
              text: job.hasFurtherDetailsAboutTheRole
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Further details about the role"
            },
            value: {
              text: job.furtherDetailsAboutTheRole
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/about",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.furtherDetailsAboutTheRole,
          {
            key: {
              text: "Do you want to upload any additional documents?"
            },
            value: {
              text: job.hasAdditionalDocuments
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/upload",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional documents"
            },
            value: {
              html: additionalDocuments
            },
            actions: {
              items: [
                {
                  href: "/jobs/new/file-check",
                  text: "Change",
                  visuallyHiddenText: "TODO"
                }
              ]
            }
          } if job.additionalDocuments
        ]
      }) }}

    </div>
  </div>

{% endblock %}
