{% extends "layout.njk" %}

{% set primaryNavId = 'jobs' %}
{% set subNavId = 'applications' %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash and flash.length }}


<div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Update application status</span>


        <form method="post">

        <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="countries-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
                What application status do you want to assign to {{jobseeker.profile.firstName}} {{jobseeker.profile.lastName}}?
            </h1>
            </legend>

            <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tag" name="tag" type="radio" value="New">
                    <label class="govuk-label govuk-radios__label" for="tag">
                        New  
                        <strong class="govuk-tag govuk-tag--blue">
                            New
                        </strong>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tag-4" name="tag" type="radio" value="Not considering">
                    <label class="govuk-label govuk-radios__label" for="tag-4">
                        Not considering
                        <strong class="govuk-tag govuk-tag--red">
                            not considering
                        </strong>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tag-3" name="tag" type="radio" value="Reviewed">
                    <label class="govuk-label govuk-radios__label" for="tag-3">
                        Reviewed
                        <strong class="govuk-tag govuk-tag--purple">
                            reviewed
                        </strong>
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tag-2" name="tag" type="radio" value="Shortlisted">
                    <label class="govuk-label govuk-radios__label" for="tag-2">
                        Shortlisted
                        <strong class="govuk-tag govuk-tag--green">
                            Shortlisted
                        </strong>
                    </label>
                </div>
                <div class="govuk-radios__divider">or</div>
                
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="tag-5" name="tag" type="radio" value="Interviewing" data-aria-controls="conditional-tag-5">
                    <label class="govuk-label govuk-radios__label" for="tag-5">
                        Invite to interview
                        <strong class="govuk-tag govuk-tag--turquoise">
                            Interviewing
                        </strong>
                    </label>
                </div>
            </div>

        </fieldset>
        </div>

        <button type="submit" class="govuk-button" data-module="govuk-button">
            Save and continue
        </button>

        </form>

        <p class="govuk-body">
            <a href="applications" class="govuk-link">Cancel</a>
        </p>

    </div>

</div>
  

{% endblock %}
