{% extends "layout.njk" %}

{% set title = 'Notifications' %}
{% set primaryNavId = 'notifications' %}

{% block content %}
  <h1 class="govuk-heading-l">Notifications</h1>

  <div class="empty-section-component">
    <p class="govuk-body govuk-!-margin-bottom-0">You have no notifications.</p>
  </div>
{% endblock %}
