{% extends "layout.njk" %}

{% set heading = 'Website' %}

{% if user.organisation.schools %}
  {% set caption = 'Organisation profile' %}
{% else %}
  {% set caption = 'School profile' %}
{% endif %}

{% if organisation.website == 'Not entered' %}
  {% set website = '' %}
{% else %}
  {% set website = organisation.website %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>

      <form method="post">

        {{ govukInput({
          label: {
            text: heading,
            classes: "govuk-label--l",
            isPageHeading: true
          },
          value: website,
          id: "website",
          name: "website"
        }) }}

        {{ govukButton({
          text: "Update website"
        }) }}


      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
