{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set heading = 'Check details and update organisation photo' %}
  {% set caption = 'Organisation profile' %}
  {% set label = 'Organisation photo' %}
  {% set buttonText = 'Update organisation photo' %}
{% else %}
  {% set heading = 'Check details and update school photo' %}
  {% set caption = 'School profile' %}
  {% set label = 'School photo' %}
  {% set buttonText = 'Update school photo' %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <img src="{{data.photo}}" alt="Photo" width="100%">

      <p class="govuk-body govuk-!-margin-bottom-1">photo.jpg, 2MB</p>

      <p class="govuk-body govuk-!-margin-bottom-8"><a href="../edit">Change <span class="govuk-visually-hidden">{{label}}</span></a></p>

      <form method="post">

        {{ govukButton({
          text: buttonText
        }) }}

      </form>

      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
