{% extends "layout.njk" %}

{% set heading = 'Check and upload photo' %}
{% if user.organisation.schools %}
  {% set caption = 'Organisation profile' %}
  {% set label = 'Organisation photo' %}
{% else %}
  {% set caption = 'School profile' %}
  {% set label = 'School photo' %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      {% set photo %}
        <img src="{{data.photo}}" alt="Photo" width="100%">
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: label
            },
            value: {
              html: photo
            },
            actions: {
              items: [
                {
                  href: "/organisation/edit-photo",
                  text: "Change",
                  visuallyHiddenText: "Photo"
                }
              ]
            }
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Upload photo"
        }) }}
      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
