
{% extends "layout.njk" %}

{% set title = 'Organisation profile' %}

{% set primaryNavId = 'organisation' %}

{% block content %}

  {# {% set notificationBannerHtml %}
    <h2 class="govuk-heading-m">
      Information about your school is missing
    </h2>

    <div class="app-notification-banner-summary__body">
      <ul class="govuk-list app-notification-banner-summary__list">
        <li>
          <a href="#publish-date">Education phase is missing</a>
        </li>
        <li>
          <a href="#publish-date">Information about the school is missing</a>
        </li>
        <li>
          <a href="#publish-date">Information about how employees are supported is missing</a>
        </li>
        <li>
          <a href="#publish-date">Logo is missing</a>
        </li>
        <li>
          <a href="#publish-date">Photo is missing</a>
        </li>
      </ul>
    </div>
  {% endset %} #}

  {% if user.organisation.schools %}
    {{ govukNotificationBanner({
      text: "Information about your organisation is missing"
    }) }}
  {% else %}
    {{ govukNotificationBanner({
      text: "Information about your school is missing"
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {% if user.organisation.schools %}
        <p><a href="#">View organisation page (opens in new tab)</a></p>

        {% set address %}
          {% for part, value in user.organisation.address %}
            {{value}}{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endset %}

        {% set websiteUrl %}
          <a href="{{user.organisation.websiteUrl}}">{{user.organisation.websiteUrl}} (opens in new tab)</a>
        {% endset %}

        {% set about %}
          {% if user.organisation.about %}
            {{user.organisation.logo | nl2br}}
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter information about your organisation</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set howEmployeesAreSupported %}
          {% if user.organisation.supportForEmployees %}
            {{user.organisation.supportForEmployees | escape | nl2br}}
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter information about what your organisation offers its employees</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set logo %}
          {% if user.organisation.logo %}
            <img src="{{user.organisation.logo}}" alt="Logo" width="150">
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Add organisation logo</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set photo %}
          {% if user.organisation.photo %}
            <img src="{{user.organisation.photo}}" alt="Photo" width="100%">
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Add organisation photo</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: user.organisation.name
              }
            },
            {
              key: {
                text: "Type"
              },
              value: {
                text: 'Multi-academy trust'
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                text: address
              }
            },
            {
              key: {
                text: "Website"
              },
              value: {
                html: websiteUrl
              },
              actions: {
                items: [
                  {
                    href: "Item URL",
                    text: "Change",
                    visuallyHiddenText: "Item label"
                  }
                ]
              }
            },
            {
              key: {
                text: "About the organisation"
              },
              value: {
                html: about
              },
              actions: {
                items: [
                  {
                    href: "/organisation/edit/description",
                    text: "Change",
                    visuallyHiddenText: "About the organisation"
                  }
                ]
              }
            },
            {
              key: {
                text: "What the organisation offers its employees"
              },
              value: {
                html: howEmployeesAreSupported
              },
              actions: {
                items: [
                  {
                    href: "/organisation/edit/description",
                    text: "Change",
                    visuallyHiddenText: "About school"
                  }
                ]
              }
            },
            {
                key: {
                  text: "Organisation logo"
                },
                value: {
                  html: logo
                },
                actions: {
                  items: [
                    {
                      href: "/organisation/edit/logo",
                      text: "Change",
                      visuallyHiddenText: "About school"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Organisation photo"
                },
                value: {
                  html: photo
                },
                actions: {
                  items: [
                    {
                      href: "/organisation/edit/photo",
                      text: "Change",
                      visuallyHiddenText: "About school"
                    }
                  ]
                }
              }
          ]
        }) }}

          <h2 class="govuk-heading-m">
            Schools
          </h2>

          {% for school in user.organisation.schools %}
            <div class="app-school govuk-!-margin-bottom-0">
              <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                <a href="/">{{school.name}}</a>
              </h3>

              {% if loop.index < 3 %}
                {# {{ govukTag({
                  text: "Incomplete",
                  classes: 'govuk-!-margin-left-1 govuk-tag--grey'
                }) }} #}
                {# {{ govukInsetText({
                  text: "This school is missing some information.",
                  classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0'
                }) }} #}
                <div class="app-field-highlight govuk-!-margin-top-2">
                  <p class="app-field-highlight__instruction">This school is missing information</p>
                  {# <p class="govuk-!-margin-bottom-0">Missing some information</p> #}
                </div>
              {% endif %}
            </div>


            {# <p><a href="#">View school page (opens in new tab)</a></p> #}
            {# {{appSchoolSummaryList({ school: school })}} #}
          {% endfor %}
      {% else %}
        <p><a href="#">View school page (opens in new tab)</a></p>
        {{appSchoolSummaryList({ school: user.organisation })}}
      {% endif %}









    </div>
  </div>

{% endblock %}
