
{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set title = 'Organisation profile' %}
{% else %}
  {% set title = 'School profile' %}
{% endif %}

{% set primaryNavId = 'organisation' %}

{% block content %}

  {% if showCompleteProfileBanner %}
    {% if user.organisation.schools %}
      {{ govukNotificationBanner({
        text: "Complete your organisation profile"
      }) }}
    {% else %}
      {{ govukNotificationBanner({
        text: "Complete your school profile"
      }) }}
    {% endif %}
  {% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {% if user.organisation.schools %}
        <p><a href="/organisation/preview">Preview organisation profile</a></p>

        {% set address %}
          {% for part, value in user.organisation.address %}
            {{value}}{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endset %}

        {% set emailAddress %}
          {% if user.organisation.emailAddress %}
            <a href="{{user.organisation.emailAddress}}">{{user.organisation.emailAddress}}</a>
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter an email address</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set website %}
          <a href="{{user.organisation.website}}">{{user.organisation.website}} (opens in new tab)</a>
        {% endset %}

        {% set about %}
          {% if user.organisation.about %}
            {{user.organisation.about | escape | nl2br}}
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter information about your organisation</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set howEmployeesAreSupported %}
          {% if user.organisation.supportForEmployees %}
            {{user.organisation.supportForEmployees | escape | nl2br}}
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter information about what your organisation offers its employees</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set safeguardingCommitment %}
          {% if user.organisation.safeguardingCommitment %}
            {{user.organisation.safeguardingCommitment | escape | nl2br}}
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Enter information about your commitment to safeguarding</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set logo %}
          {% if user.organisation.logo %}
            <img src="{{user.organisation.logo}}" alt="Logo" width="150">
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Add organisation logo</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}

        {% set photo %}
          {% if user.organisation.photo %}
            <img src="{{user.organisation.photo}}" alt="Photo" width="100%">
          {% else %}
            <div class="app-field-highlight">
              <p class="app-field-highlight__instruction">Add organisation photo</p>
              Not entered
            </div>
          {% endif %}
        {% endset %}


        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: user.organisation.name
              }
            },
            {
              key: {
                text: "Type"
              },
              value: {
                text: 'Multi-academy trust'
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                text: address
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                html: emailAddress
              },
              actions: {
                items: [
                  {
                    href: "/organisation/"+user.organisation.id+"/email-address/edit",
                    text: "Change",
                    visuallyHiddenText: "Item label"
                  }
                ]
              }
            },
            {
              key: {
                text: "Website"
              },
              value: {
                html: website
              },
              actions: {
                items: [
                  {
                    href: "/organisation/"+user.organisation.id+"/website/edit",
                    text: "Change",
                    visuallyHiddenText: "Item label"
                  }
                ]
              }
            },
            {
              key: {
                text: "Organisation description"
              },
              value: {
                html: about
              },
              actions: {
                items: [
                  {
                    href: "/organisation/"+user.organisation.id+"/description/edit",
                    text: "Change",
                    visuallyHiddenText: "Organisation description"
                  }
                ]
              }
            },
            {
              key: {
                text: "What the organisation offers its staff"
              },
              value: {
                html: howEmployeesAreSupported
              },
              actions: {
                items: [
                  {
                    href: "/organisation/"+user.organisation.id+"/offers-staff/edit",
                    text: "Change",
                    visuallyHiddenText: "About school"
                  }
                ]
              }
            },
            {
              key: {
                text: "Commitment to safeguarding"
              },
              value: {
                html: safeguardingCommitment
              },
              actions: {
                items: [
                  {
                    href: "/organisation/"+user.organisation.id+"/safeguarding/edit",
                    text: "Change",
                    visuallyHiddenText: "Safeguarding commitment"
                  }
                ]
              }
            },
            {
                key: {
                  text: "Organisation logo"
                },
                value: {
                  html: logo
                },
                actions: {
                  items: [
                    {
                      href: "/organisation/"+user.organisation.id+"/logo/edit",
                      text: "Change",
                      visuallyHiddenText: "About school"
                    }
                  ]
                }
              },
              {
                key: {
                  text: "Organisation photo"
                },
                value: {
                  html: photo
                },
                actions: {
                  items: [
                    {
                      href: "/organisation/"+user.organisation.id+"/photo/edit",
                      text: "Change",
                      visuallyHiddenText: "About school"
                    }
                  ]
                }
              }
          ]
        }) }}

          <h2 class="govuk-heading-m govuk-!-margin-top-8">
            Schools
          </h2>

          {% for school in schools %}
            <div class="app-school govuk-!-margin-bottom-0 {% if loop.first %}govuk-!-padding-top-0{% endif %}">

              {% if school.missingInformation.length %}
                 <div class="app-field-highlight {% if loop.first %}govuk-!-margin-top-2{% endif %}">
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
                    <a href="/schools/{{school.id}}">{{school.name}}</a>
                  </h3>
                  <p class="app-field-highlight__instruction">Complete your school profile</p>
                </div>
              {% else %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">
                  <a href="/schools/{{school.id}}">{{school.name}}</a>
                </h3>
              {% endif %}
            </div>
          {% endfor %}
      {% else %}
        <p><a href="/organisation/preview">Preview school profile</a></p>
        {{appSchoolSummaryList({ school: user.organisation })}}
      {% endif %}









    </div>
  </div>

{% endblock %}
