{% extends "layout.njk" %}
{% set title = organisation.name %}
{% set primaryNavId = 'organisation' %}

{% set address %}
  {% for part, value in organisation.address %}
    {{value}}{% if not loop.last %}, {% endif %}
  {% endfor %}
{% endset %}

{% if organisation.website %}
  {% set website %}
    <a href="{{organisation.website}}">{{organisation.website}} (opens in new tab)</a>
  {% endset %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/organisation"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-school-title">
        {% if organisation.logo %}
          <img src="{{organisation.logo}}">
        {% endif %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
          {{title}}
        </h1>
        <p>{{address}}</p>
      </div>

      <p><a href="#">Set up job alert</a></p>

      {% if organisation.photo %}
        <div class="app-school-photo">
          <img src="{{organisation.photo}}">
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">
        Summary
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type"
            },
            value: {
              text: organisation.type
            }
          },
          {
            key: {
              text: "Education phase"
            },
            value: {
              text: organisation.phase
            }
          } if organisation.phase,
          {
            key: {
              text: "School size"
            },
            value: {
              text: organisation.size + ' pupils'
            }
          } if organisation.size,
          {
            key: {
              text: "Age range"
            },
            value: {
              text: organisation.ageGroup
            }
          } if organisation.ageGroup,
          {
            key: {
              text: "Website"
            },
            value: {
              html: website
            }
          } if website,
          {
            key: {
              text: "Ofsted report"
            },
            value: {
              html: '<a href="#">View Ofsted report (opens in new tab)</a>'
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: '<a href="#">'+organisation.emailAddress+'</a>'
            }
          } if organisation.emailAddress
        ]
      }) }}

      {% if organisation.about %}
        <h2 class="govuk-heading-m">
          About {{organisation.name}}
        </h2>
        <p>{{organisation.about | nl2br | safe}}</p>
      {% endif %}

      {% if organisation.supportForEmployees %}
        <h2 class="govuk-heading-m">
          What we offer our staff
        </h2>
        <p>{{organisation.supportForEmployees | nl2br | safe}}</p>
      {% endif %}

      {% if organisation.safeguardingCommitment %}
        <h2 class="govuk-heading-m">
          Commitment to safeguarding
        </h2>
        <p>{{organisation.safeguardingCommitment | nl2br | safe}}</p>
      {% endif %}


      <h2 class="govuk-heading-m">
        Location
      </h2>

      <div class="app-map">
        <img src="/public/images/maps/courtland.png">
      </div>

      {% if jobs.length %}
        <h2 class="govuk-heading-m">
          Current jobs
        </h2>
        {{appJobList({
          jobs: jobs,
          heading: {
            level: 3
          }
        })}}
      {% endif %}
    </div>
  </div>
{% endblock %}
