{% extends "layout.njk" %}
{% set title = organisation.name %}
{% set primaryNavId = 'organisation' %}

{% set address %}
  {% for part, value in organisation.address %}
    {{value}}{% if not loop.last %}, {% endif %}
  {% endfor %}
{% endset %}

{% set websiteUrl %}
  <a href="{{user.organisation.websiteUrl}}">{{user.organisation.websiteUrl}} (opens in new tab)</a>
{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/organisation"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-school-title">
        {% if organisation.logo %}
          <img src="{{organisation.logo}}">
        {% endif %}
        <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
          {{title}}
        </h1>
        <p>{{address}}</p>
      </div>

      <p><a href="#">Get an alert for jobs at this school</a></p>

      {% if organisation.photo %}
        <div class="app-school-photo">
          <img src="{{organisation.photo}}">
        </div>
      {% endif %}

      <h2 class="govuk-heading-m">
        Summary
      </h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Type"
            },
            value: {
              text: organisation.type
            }
          },
          {
            key: {
              text: "Education phase"
            },
            value: {
              text: organisation.phase
            }
          } if organisation.phase,
          {
            key: {
              text: "School size"
            },
            value: {
              text: organisation.size + ' pupils'
            }
          } if organisation.size,
          {
            key: {
              text: "Age range"
            },
            value: {
              text: organisation.ageGroup
            }
          } if organisation.ageGroup,
          {
            key: {
              text: "Website"
            },
            value: {
              html: websiteUrl
            }
          },
          {
            key: {
              text: "Ofsted report"
            },
            value: {
              html: '<a href="#">View Ofsted report (opens in new tab)</a>'
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              html: '<a href="#">'+organisation.emailAddress+'</a>'
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        About {{school.name}}
      </h2>

      <p>{{organisation.about | nl2br | safe}}</p>

      <h2 class="govuk-heading-m">
        What we offer our staff
      </h2>

      <p>{{organisation.supportForEmployees | nl2br | safe}}</p>

      <h2 class="govuk-heading-m">
        Location
      </h2>

      <div class="app-map">
        <img src="/public/images/maps/courtland.png">
      </div>

      <h2 class="govuk-heading-m">
        Current jobs
      </h2>

      {{appJobList({
        jobs: jobs,
        heading: {
          level: 3
        }
      })}}
    </div>
  </div>
{% endblock %}
