
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}


{% if data.invite.jobs.length %}
  {% set theJobs = data.invite.jobs | join('<br>') %}
{% else %}
  {% set theJobs = '' %}
{% endif %}

{% if theJobs == 'general' or theJobs == '' %}
    
    {% set caption =  name + ' - send custom email'  %}
    {% set title = 'Check details and email candidate' %}

{% else %}

    {% set caption =  name + ' - send email about a job'  %}
    {% set title = 'Check details and email candidate' %}

{% endif %}

{% set primaryNavId = 'jobseekers' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/jobseekers/"+jobseeker.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      {% if theJobs == 'general' or theJobs == '' %}
       
       
      {% else %}
        
        {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "What jobs do you want to invite the candidate to apply for?"
            },
            value: {
              html: data.invite.jobs | join('<br>')
            },
            actions: {
              items: [
                {
                  href: '/jobseekers/'+jobseeker.id+'/invites/new',
                  text: "Change",
                  visuallyHiddenText: "Jobs to invite candidate to apply for"
                }
              ]
            }
          }
        ]
      }) }}
      
      {% endif %}

      

      <h2 class="govuk-heading-m">
        Preview of email
      </h2>

      {% set preview%}

        {% if data['customise-message-1'] %}

          <p id="customText">{{data['customise-message-1']}}</p>
          
          {% if theJobs == 'general' or theJobs == '' %}
            <p>Sent from {{user.organisation.name}}<br> <a href="#">https://teaching-vacancies.service.gov.uk/schools/courtland</a></p>
          {% else %}

            {% for role in data.invite.jobs %}
              <p>{{role}} at {{user.organisation.name}}<br> <a href="#">https://teaching-vacancies.school.com/123</a></p>
            {% endfor %}

          {% endif %}

        {% else %} 

          <p>Dear {{jobseeker.profile.firstName}}</p>

            {% if data.invite.jobs.length > 1 %}
              <p>Rachael at {{user.organisation.name}} has reviewed your profile. They’d like to invite you to apply for {{data.invite.jobs | length}} roles.</p>
              {# <ul class="govuk-list govuk-list--bullet"> #}
              {% if theJobs == 'general' or theJobs == '' %}

              {% else %}

                {% for role in data.invite.jobs %}
                  <p>{{role}} at {{user.organisation.name}}<br> <a href="#">https://teaching-vacancies.school.com/123</a></p>
                {% endfor %}
              
              {% endif %}
              {# </ul> #}
            {% else %}
              <p>Rachael at {{user.organisation.name}} has reviewed your profile.</p>

              <p>You can contact {{user.organisation.name}} by emailing: {{user.emailAddress}}</p>

              <p class="govuk-!-margin-bottom-1">{{data.invite.jobs}} at {{user.organisation.name}}:</p>
              <p><a href="#">https://teaching-vacancies.school.com/123</a></p>
            {% endif %}

        {% endif %}

      {% endset %}

      {{ govukInsetText({
        html: preview
      }) }}

      {% if theJobs == 'general' or theJobs == '' %}
        <a href="customise-general" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Customise email
        </a>
      {% else %}
        <a href="customise" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Customise email
        </a>
      {% endif %}

      {% set includedHintHtml %}
        
        This will add your account email: {{user.emailAddress}} to the email being sent so you receive a carbon copy or ‘cc’.
        
      {% endset %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "changedName",
        fieldset: {
          legend: {
            text: "Do you want to receive a carbon copy of the email being sent?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          html: includedHintHtml
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

      <!--
      {% if theJobs == 'general' or theJobs == '' %}
          <p>{{name}} will be sent an email from Teaching Vacancies with your message.</p>     
      {% else %}
          <p>{{name}} will be sent an email from Teaching Vacancies to tell them they’ve been invited to apply for the jobs you selected.</p>     
      {% endif %}

      -->

      <form method="post">
       
        <div class="govuk-button-group">

          <button class="govuk-button" data-module="govuk-button">
            {% if theJobs == 'general' or theJobs == '' %}
              Send email
            {% else %}
              Send email
            {% endif %}
          </button>

        </div>


        <p><a href="/jobseekers/{{jobseeker.id}}">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}
