
{% extends "layout.njk" %}

{% set name = jobseeker.profile.firstName + ' ' + jobseeker.profile.lastName %}

{% set caption =  name + ' - Invite to apply for a job'  %}

{% set title = 'Jobs' %}

{% set primaryNavId = 'jobseekers' %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/jobseekers/"+jobseeker.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">
        {% if publishedJobs.length == 1%}
          <span class="govuk-caption-l">
            {{caption}}
          </span>
          <h1 class="govuk-heading-l">
            Invite to apply for the Maths teacher vacancy
          </h1>
          <p>{{name}} will be sent an email to tell them they’ve been invited.</p>
        {% else %}
          {% set h1 %}
            <span class="govuk-caption-l">
              {{caption}}
            </span>
            {{title}}
          {% endset %}
          {{ govukCheckboxes({
            idPrefix: "invite",
            name: "invite",
            fieldset: {
              legend: {
                html: h1,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: jobCheckboxes
          }) }}
          {% set text %}
            {{name}} will be sent an email to tell them they’ve been invited to apply for the jobs you selected.
          {% endset %}

          {{ govukWarningText({
            text: text
          }) }}
        {% endif %}

        {{ govukButton({
          text: "Send invite to apply"
        }) }}
        <p><a href="/jobseekers/{{jobseeker.id}}">Cancel</a></p>
      </form>



    </div>
  </div>

{% endblock %}
