
{% extends "layout.njk" %}

{% set title = 'Jobseeker profiles (' + user.jobseekers.length + ')' %}

{% set primaryNavId = 'jobseekers' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{title}}
        </h1>

        <p>These jobseekers are willing to travel to your school or relocate.</p>
    </div>
  </div>


  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "includes/profiles-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">
      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <div class="app-list">
        {% for jobseeker in user.jobseekers %}

          {% set teachingStatus %}
            {% if jobseeker.profile.qts == 'Yes' %}
              Awarded QTS {{jobseeker.profile.qtsAwardedYear}}
            {% elseif jobseeker.profile.qts == 'I’m on track to receive QTS' %}
              On track to receive QTS
            {% else %}
              Does not have QTS
            {% endif %}
          {% endset %}

          <div class="app-list__item">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-right-2">
                <a href="/jobseekers/{{jobseeker.id}}">{{jobseeker.profile.firstName}} {{jobseeker.profile.lastName}}</a>
            {# <span class="govuk-!-margin-left-1 govuk-!-font-size-16 govuk-!-font-weight-regular">{{teachingStatus}}</span> #}
              </h2>

            {# <p class="govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-3">

              {% for workingPattern in jobseeker.profile.workingPatterns %}
              Prefers a
                {{workingPattern | lower}}

                {% if jobseeker.profile.workingPatterns.length > 1 %}
                  {% if loop.first %}
                    or
                  {% endif %}
                {% endif %}
              {% endfor %}

              role as a

              {% for role in jobseeker.profile.roles %}
                {{role | lower}}

                {% if jobseeker.profile.roles.length > 1 %}
                  {% if loop.last %}
                    or
                  {% else %}
                    ,
                  {% endif %}
                {% endif %}
              {% endfor %}

              {% if %}

              .
            </p> #}

            <p class="govuk-!-font-size-16 govuk-!-margin-top-1 govuk-!-margin-bottom-0">{{teachingStatus}}</p>

            {{ govukSummaryList({
              classes: 'govuk-summary-list--no-border app-summary-list--compact',
              rows: [
                {
                  key: {
                    text: "Preferred role"
                  },
                  value: {
                    html: jobseeker.profile.roles | join(', ')
                  }
                },
                {
                  key: {
                    text: "Preferred education phase"
                  },
                  value: {
                    text: jobseeker.profile.phases | join(', ') | capitalize
                  }
                } if user.organisation.schools,
                {
                  key: {
                    text: "Preferred key stage"
                  },
                  value: {
                    text: jobseeker.profile.keyStages | join(', ') | capitalize
                  }
                },
                {
                  key: {
                    text: "Preferred working pattern"
                  },
                  value: {
                    text: jobseeker.profile.workingPatterns | join(', ') | capitalize
                  }
                },
                {
                  key: {
                    text: "Preferred subject"
                  },
                  value: {
                    text: jobseeker.profile.subjects | join(', ') | capitalize
                  }
                } if jobseeker.profile.subjects
              ]
            }) }}
          </div>
        {% endfor %}
      </div>

      {{ govukPagination({
          next: {
            href: "#"
          },
          items: [
            {
              number: 1,
              href: "#",
              current: true
            },
            {
              number: 2,
              href: "#"
            },
            {
              number: 3,
              href: "#"
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })

    new AppFrontend.CheckboxFilter({
      container: $('#subjects'),
      textBox: {
        label: 'Search for subject'
      }
    })

  </script>
{% endblock %}