{% extends "layout.njk" %}

{% set caption = 'Teaching AI' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        What is your year group?
      {% endset %}

      <h1 class="govuk-heading-l">What is your year group?</h1>


      <form action="subject">

        <div class="govuk-form-group">
        <label class="govuk-label" for="sort">
            Year group
        </label>
            <select class="govuk-select" id="group" name="group">
                <option value="7">Year 7</option>
                <option value="8">Year 8</option>
                <option value="9">Year 9</option>
                <option value="10">Year 10</option>
            </select>
        </div>

        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      <p><a href="#">Cancel</a></p>



    </div>
  </div>

{% endblock %}



year group, 
subject
topic,
any additional needs

lesson objective