{% extends "layout.njk" %}

{% set heading = 'Check and upload logo' %}
{% if user.organisation.schools %}
  {% set caption = 'Organisation profile' %}
  {% set label = 'Organisation logo' %}
{% else %}
  {% set caption = 'School profile' %}
  {% set label = 'School logo' %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <img src="{{data.logo}}" alt="Logo" width="150">

      {{ govukRadios({
        idPrefix: "check-upload",
        name: "check-upload",
        fieldset: {
          legend: {
            text: "Is this file correct?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m govuk-!-padding-top-5"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes, add this file"
          },
          {
            value: "No",
            text: "No, I want to choose a different file"
          }
        ]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
