{% extends "layout.njk" %}

{% set heading = 'Upload school logo' %}
{% set caption = 'School profile' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <p>School logos need to be:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          300px height and width
        </li>
        <li>
          a PNG or JPG
        </li>
        <li>
          no larger than 5MB
        </li>
      </ul>

      <form action="/jobs/new/school-visits">

        {{ govukFileUpload({
          id: "createJob[application-form]",
          name: "createJob[application-form]",
          label: {
            text: "Upload school logo",
            classes: 'govuk-label--m'
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
