{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set heading = 'Organisation description' %}
  {% set caption = 'Organisation profile' %}
  {% set labelForInput = 'Organisation description' %}
{% else %}
  {% set heading = 'School description' %}
  {% set caption = 'School profile' %}
  {% set labelForInput = 'School description' %}
{% endif %}

{% if organisation.about == 'Not entered' %}
  {% set about = '' %}
{% else %}
  {% set about = organisation.about %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>

      <form method="post">

        {{ govukCharacterCount({
          name: "about",
          id: "about",
          value: about,
          rows: 10,
          maxwords: 150,
          label: {
            text: labelForInput,
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {{ govukButton({
          text: "Update description"
        }) }}

      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
