{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set caption = 'Organisation profile' %}
{% else %}
  {% set caption = 'School profile' %}
{% endif %}

{% set title = 'Check your email' + ' - ' + caption %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        Check your email
      </h1>

      <p>Finish updating your account by clicking the link in the email you've been sent. Once you have confirmed the email, your profile will be updated.</p>

      <p>Check your spam folder if you cannot find the email, or <a href="">resend the email</a>.</p>

      <form method="post">

        {{ govukButton({
          text: "Return to profile",
          href: "/organisation"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
