{% extends "layout.njk" %}

{% set title = 'Confirm your email address' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        Confirm your profile email address
      </h1>

      <form method="post">

        {{ govukButton({
          text: "Confirm"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
