{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set heading = 'Organisation email' %}
  {% set caption = 'Organisation profile' %}
{% else %}
  {% set heading = 'School email' %}
  {% set caption = 'School profile' %}
{% endif %}

{% if organisation.emailAddress == 'Not entered' %}
  {% set emailAddress = '' %}
{% else %}
  {% set emailAddress = organisation.emailAddress %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{caption}}
      </span>
      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <form method="post">

        {{ govukInput({
          label: {
            text: "Email address"
          },
          id: "email",
          name: "email",
          value: emailAddress
        }) }}

        {{ govukButton({
          text: "Save email address"
        }) }}

      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
