{% extends "layout.njk" %}

{% set title = 'You can now view candidate profiles and invite them to apply' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>A candidate’s profile includes their job preferences, experience and qualifications.</p>

      {# <p>A jobseeker’s profile includes their:</p> #}

      {# <ul class="govuk-list govuk-list--bullet">
        <li>
          qualified teaching status
        </li>
        <li>
          job preferences
        </li>
        <li>
          experience
        </li>
        <li>
          qualifications
        </li>
      </ul> #}

      <p>The candidates you have access to have specified:</p>

      {% if user.organisation.schools %}
        {# <p>All the candidates you have access to have specified that they’re able to travel to a location that’s near to at least one of your schools.</p> #}

        <ul class="govuk-list govuk-list--bullet">
          <li>
            that they’re able to travel to a location near to at least one of your schools
          </li>
          <li>
            that they’re interested in an education phase that matches at least one of your schools
          </li>
        </ul>
      {% else %}
        {# <p>All the jobseekers you have access to have specified that they’re able to travel to a location that’s near to your school.</p> #}
        <ul class="govuk-list govuk-list--bullet">
          <li>
            that they’re able to travel to a location near to your school
          </li>
          <li>
            that they’re interested in an education phase that matches your school
          </li>
        </ul>
      {% endif %}

      <p>You’ll also be notified about any candidate profile that matches your job listings.</p>

      {{ govukButton({
        text: "View candidate profiles",
        href: "/jobseekers"
      }) }}

      <p><a href="/jobs">Skip to job listings</a></p>

    </div>
  </div>

{% endblock %}
