{% extends "layout.njk" %}

{% set title = 'You can now view jobseeker profiles and invite them to apply' %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>A jobseeker’s profile includes their qualified teaching status (QTS), experience and qualifications.</p>

      {# <p>A jobseeker’s profile includes their:</p> #}

      {# <ul class="govuk-list govuk-list--bullet">
        <li>
          qualified teaching status
        </li>
        <li>
          job preferences
        </li>
        <li>
          experience
        </li>
        <li>
          qualifications
        </li>
      </ul> #}

      {% if user.organisation.schools %}
        <p>All the jobseekers you have access to have specified that they’re able to travel to at least one of your schools.</p>
      {% else %}
        <p>All the jobseekers you have access to have specified that they’re able to travel to your school.</p>
      {% endif %}

      <p>You’ll also be notified about any jobseeker profile that matches your job listings.</p>

      {{ govukButton({
        text: "View jobseeker profiles",
        href: "/jobseekers"
      }) }}

      <p><a href="/jobs">Skip to job listings</a></p>

    </div>
  </div>

{% endblock %}
