
{% extends "layout.njk" %}

{% set heading = 'Sign in' %}

{% set title = heading %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{heading}}
      </h1>

      <div class="app-list">
        {% for user in users %}
          <form method="post">
            {% if query.returnUrl %}
              <input type="hidden" name="returnUrl" value="{{query.returnUrl}}">
            {% endif %}

            <input type="hidden" name="emailAddress" value="{{user.username}}">
            <div class="app-list__item govuk-!-padding-top-4 govuk-!-padding-bottom-6">

              <span class="govuk-caption-m">
                {{user.organisation.name}}
              </span>
              <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
                {{user.username}}
              </h2>
              <div class="govuk-!-margin-bottom-3">
              {% if user.organisation.hasMissingInformation %}
                {{ govukTag({
                  text: "Profile incomplete",
                  classes: 'govuk-tag--red'
                }) }}
              {% else %}
                {{ govukTag({
                  text: "Profile complete",
                  classes: 'govuk-tag--blue'
                }) }}
              {% endif %}
              </div>

              {# <ul class="govuk-list govuk-list--bullet">
                {% if user.organisation.schools %}
                  <li>
                    Has multiple schools
                  </li>
                {% endif %}
              </ul> #}

              {{ govukButton({
                text: 'Sign in',
                classes: 'govuk-!-margin-bottom-0'
              }) }}
            </div>

          </form>
        {% endfor %}
      </div>



        {# {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          id: "email",
          name: "email",
          type: "email",
          autocomplete: "email",
          spellcheck: false
        }) }}

        {{ govukInput({
          id: "password",
          name: "password",
          label: {
            text: "Password",
            classes: "govuk-label--m"
          },
          type: "password"
        }) }} #}




      </form>




    </div>
  </div>

{% endblock %}
