
{% extends "layout.njk" %}

{% set title = 'Account created' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title
      }) }}

      <p>You can change your details in <a href="/account">your account</a>.</p>

      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p>You can now:</p>

      <ul class="govuk-list govuk-list--bullet">
        {% if user.organisation.schools %}
          <li>
            <a href="/organisation">complete your organisation profile</a>
          </li>
        {% else %}
          <li>
            <a href="/organisation">complete your school profile</a>
          </li>
        {% endif %}
        <li>
          <a href="/jobs/new">manage job listings</a>
        </li>
        <li>
          <a href="/jobseekers">view candidates profiles</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
