
{% extends "layout.njk" %}

{% set title = 'Account created' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title
      }) }}

      {% if user.organisation.schools %}
        <h2 class="govuk-heading-m"> Complete organisation profile </h2>
        <p>The details stored in your organisation profile are included in your job listings.</p>
        <p><a href="/organisation">Complete your organisation profile</a></p>
      {% else %}
        <h2 class="govuk-heading-m"> Complete school profile </h2>
        <p>The details stored in your school profile are included in your job listings.</p>
        <p><a href="/organisation">Complete your school profile</a></p>
      {% endif %}

      <h2 class="govuk-heading-m">Create job listing</h2>
      <p>You can create a job listing.</p>
      <p><a href="/jobs">Create job listing</a></p>

      <h2 class="govuk-heading-m">View candidate profiles and invite them to apply</h2>
      <p>You can view candidate profiles. They include the candidate’s job preferences, experience and qualifications.</p>
      <p>The candidates you have access to have specified:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          {% if user.organisation.schools %}
            that they’re able to travel to a location near to at least one of your schools
          {% else %}
            that they’re able to travel to a location near to your school
          {% endif %}
        </li>
        <li>
          {% if user.organisation.schools %}
            that they’re interested in an education phase that matches at least one of your schools
          {% else %}
            that they’re interested in an education phase that matches your school
          {% endif %}
        </li>
      </ul>

      {# <p>You’ll also be notified about any candidate profile that matches your job listings.</p> #}

      <p><a href="/jobseekers">View candidate profiles</a></p>

    </div>
  </div>

{% endblock %}
