{% extends "layout.njk" %}

{% if user.organisation.schools %}
  {% set heading = 'What is your organisations religion?' %}
  {% set caption = 'Organisation profile' %}
{% else %}
  {% set heading = 'What is your schools religion?' %}
  {% set caption = 'School profile' %}
{% endif %}

{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back();"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Are you open to flexible working?
              </h1>
            </legend>



            <div class="govuk-inset-text">
                Jobseekers are twice as likely to consider a role that offers flexible working.
            </div>


            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="flexible" name="flexible" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="flexible">
                  Yes, we're open to flexible working
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="flexible" name="flexible" type="radio" value="england">
                <label class="govuk-label govuk-radios__label" for="flexible">
                  Yes, but it depends on the role
                </label>
              </div>
              <div class="govuk-radios__divider">or</div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="flexible-2" name="flexible" type="radio" value="scotland">
                <label class="govuk-label govuk-radios__label" for="flexible-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>
       
        {{ govukButton({
          text: "Save and continue"
        }) }}

      </form>
      <p><a href="/organisation">Cancel</a></p>

    </div>
  </div>

{% endblock %}
